<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="Milo" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Expositores 2017 / Zona Gastrónomos E</title>
<link rel="stylesheet" type="text/css" href="../css/GastronomoE.css">
<link rel="stylesheet" type="text/css" href="../script/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../script/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../script/ng-tags-input/ng-tags-input.css">
<link rel="stylesheet" type="text/css" href="../script/ng-tags-input/ng-tags-input.bootstrap.css">

</head>

<body ng-controller="formulario">
<div ng-mousemove = "user.seccion='GE'" id="todo" class="container">
<div id="grupo">
  <div id="fondofb">
  <div id="cabeza"></div>
  	<div id="contene01">
    	<a href="../expo2017.html"><div id="paso01"></div></a>
      	<div id="paso02"></div>
      	<div id="paso03"></div>
    </div>
    
    <div id="contene03" onload="MM_preloadImages('../imagenes/paso01B.jpg','../imagenes/bot01B.jpg','../imagenes/bot15B.jpg','../imagenes/bot02B.jpg','../imagenes/bot16B.jpg','../imagenes/bot03B.jpg','../imagenes/bot17B.jpg','../imagenes/bot04B.jpg','../imagenes/bot18B.jpg','../imagenes/bot05B.jpg','../imagenes/bot19B.jpg','../imagenes/bot06B.jpg','../imagenes/bot20B.jpg','../imagenes/bot07B.jpg','../imagenes/bot21B.jpg','../imagenes/bot10B.jpg','../imagenes/bot24B.jpg')">

<div id="apDiv3" style="position: absolute; left: 26px; top: 131px; width: 800px; height: 51px; z-index: 3"><img src="../imagenes/status.jpg" width="800" height="51" /></div>
<div id="apDiv4" style="position: absolute; left: 26px; top: 183px; width: 800px; height: 100px; z-index: 5"><img src="../imagenes/cabezlugaresGE.jpg" width="800" height="100" /></div>
<div id="apDiv5" style="position: absolute; left: 26px; top: 281px; width: 149px; height: 87px; z-index: 6"><img src="../imagenes/azulderchGD.jpg" width="149" height="87" /></div>

<div id="apDiv6">
  <button ng-show = "botonesLugar[1]" ng-disabled = "" ng-click="seleccionaaBoton(1)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','../imagenes/bot01B.jpg',1)"><img src="../imagenes/bot01AGD.jpg" width="27" height="23" id="Image8" /></button>
  <button ng-show = "!botonesLugar[1]" ng-disabled = "true"><img src="../imagenes/bot01D.jpg" width="27" height="23" id="Image8" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[11]" ng-disabled = "" ng-click="seleccionaaBoton(11)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','../imagenes/bot11B.jpg',1)"><img src="../imagenes/bot11AGD.jpg" width="27" height="23" id="Image10" /></button>
  <button ng-show = "!botonesLugar[11]" ng-disabled = "true"><img src="../imagenes/bot11D.jpg" width="27" height="23" id="Image10" /></button> 

 </div>
 
 <div id="apDiv7">
  <button ng-show = "botonesLugar[2]" ng-disabled = "" ng-click="seleccionaaBoton(2)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','../imagenes/bot02B.jpg',1)"><img src="../imagenes/bot02AGD.jpg" width="27" height="23" id="Image14" /></button>
  <button ng-show = "!botonesLugar[2]" ng-disabled = "true"><img src="../imagenes/bot02D.jpg" width="27" height="23" id="Image14" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[12]" ng-disabled = "" ng-click="seleccionaaBoton(12)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','../imagenes/bot12B.jpg',1)"><img src="../imagenes/bot12AGD.jpg" width="27" height="23" id="Image15" /></button>
  <button ng-show = "!botonesLugar[12]" ng-disabled = "true"><img src="../imagenes/bot12D.jpg" width="27" height="23" id="Image15" /></button> 

 </div>
 
 <div id="apDiv8">
  <button ng-show = "botonesLugar[3]" ng-disabled = "" ng-click="seleccionaaBoton(3)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','../imagenes/bot03B.jpg',1)"><img src="../imagenes/bot03AGD.jpg" width="27" height="23" id="Image19" /></button>
  <button ng-show = "!botonesLugar[3]" ng-disabled = "true"><img src="../imagenes/bot03D.jpg" width="27" height="23" id="Image19" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[13]" ng-disabled = "" ng-click="seleccionaaBoton(13)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','../imagenes/bot13B.jpg',1)"><img src="../imagenes/bot13AGD.jpg" width="27" height="23" id="Image21" /></button>
  <button ng-show = "!botonesLugar[13]" ng-disabled = "true"><img src="../imagenes/bot13D.jpg" width="27" height="23" id="Image21" /></button> 

 </div>
 
 <div id="apDiv9">
  <button ng-show = "botonesLugar[4]" ng-disabled = "" ng-click="seleccionaaBoton(4)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image25','','../imagenes/bot04B.jpg',1)"><img src="../imagenes/bot04AGD.jpg" width="27" height="23" id="Image25" /></button>
  <button ng-show = "!botonesLugar[4]" ng-disabled = "true"><img src="../imagenes/bot04D.jpg" width="27" height="23" id="Image25" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[14]" ng-disabled = "" ng-click="seleccionaaBoton(14)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','../imagenes/bot14B.jpg',1)"><img src="../imagenes/bot14AGD.jpg" width="27" height="23" id="Image27" /></button>
  <button ng-show = "!botonesLugar[14]" ng-disabled = "true"><img src="../imagenes/bot14D.jpg" width="27" height="23" id="Image27" /></button> 

 </div>
 
 <div id="apDiv10"><img src="../imagenes/barra02GB.jpg" width="25" height="87" /></div>
 
 <div id="apDiv11">
  <button ng-show = "botonesLugar[5]" ng-disabled = "" ng-click="seleccionaaBoton(5)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image33','','../imagenes/bot05B.jpg',1)"><img src="../imagenes/bot05AGD.jpg" width="27" height="23" id="Image33" /></button>
  <button ng-show = "!botonesLugar[5]" ng-disabled = "true"><img src="../imagenes/bot05D.jpg" width="27" height="23" id="Image33" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[15]" ng-disabled = "" ng-click="seleccionaaBoton(15)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image35','','../imagenes/bot15B.jpg',1)"><img src="../imagenes/bot15AGD.jpg" width="27" height="23" id="Image35" /></button>
  <button ng-show = "!botonesLugar[15]" ng-disabled = "true"><img src="../imagenes/bot15D.jpg" width="27" height="23" id="Image35" /></button> 

 </div>
 
 <div id="apDiv12">
  <button ng-show = "botonesLugar[6]" ng-disabled = "" ng-click="seleccionaaBoton(6)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','../imagenes/bot06B.jpg',1)"><img src="../imagenes/bot06AGD.jpg" width="27" height="23" id="Image39" /></button>
  <button ng-show = "!botonesLugar[6]" ng-disabled = "true"><img src="../imagenes/bot06D.jpg" width="27" height="23" id="Image39" /></button> 

   <img src="../imagenes/barra01bis.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[16]" ng-disabled = "" ng-click="seleccionaaBoton(16)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image41','','../imagenes/bot16B.jpg',1)"><img src="../imagenes/bot16AGD.jpg" width="27" height="23" id="Image41" /></button>
  <button ng-show = "!botonesLugar[16]" ng-disabled = "true"><img src="../imagenes/bot16D.jpg" width="27" height="23" id="Image41" /></button> 

 </div>
 
 <div id="apDiv13">
  <button ng-show = "botonesLugar[7]" ng-disabled = "" ng-click="seleccionaaBoton(7)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image45','','../imagenes/bot07B.jpg',1)"><img src="../imagenes/bot07AGD.jpg" width="27" height="23" id="Image45" /></button>
  <button ng-show = "!botonesLugar[7]" ng-disabled = "true"><img src="../imagenes/bot07D.jpg" width="27" height="23" id="Image45" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[17]" ng-disabled = "" ng-click="seleccionaaBoton(17)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image47','','../imagenes/bot17B.jpg',1)"><img src="../imagenes/bot17AGD.jpg" width="27" height="23" id="Image47" /></button>
  <button ng-show = "!botonesLugar[17]" ng-disabled = "true"><img src="../imagenes/bot17D.jpg" width="27" height="23" id="Image47" /></button> 

 </div>
 
 <div id="apDiv14"><img src="../imagenes/barra02GB.jpg" width="25" height="87" /></div>
 
 <div id="apDiv15">
  <button ng-show = "botonesLugar[8]" ng-disabled = "" ng-click="seleccionaaBoton(8)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image51','','../imagenes/bot08B.jpg',1)"><img src="../imagenes/bot08AGD.jpg" width="27" height="23" id="Image51" /></button>
  <button ng-show = "!botonesLugar[8]" ng-disabled = "true"><img src="../imagenes/bot08D.jpg" width="27" height="23" id="Image51" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[18]" ng-disabled = "" ng-click="seleccionaaBoton(18)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image53','','../imagenes/bot18B.jpg',1)"><img src="../imagenes/bot18AGD.jpg" width="27" height="23" id="Image53" /></button>
  <button ng-show = "!botonesLugar[18]" ng-disabled = "true"><img src="../imagenes/bot18D.jpg" width="27" height="23" id="Image53" /></button> 

 </div>
 
 <div id="apDiv16">
  <button ng-show = "botonesLugar[9]" ng-disabled = "" ng-click="seleccionaaBoton(9)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image58','','../imagenes/bot09B.jpg',1)"><img src="../imagenes/bot09AGD.jpg" width="27" height="23" id="Image58" /></button>
  <button ng-show = "!botonesLugar[9]" ng-disabled = "true"><img src="../imagenes/bot09D.jpg" width="27" height="23" id="Image58" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[19]" ng-disabled = "" ng-click="seleccionaaBoton(19)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image59','','../imagenes/bot19B.jpg',1)"><img src="../imagenes/bot19AGD.jpg" width="27" height="23" id="Image59" /></button>
  <button ng-show = "!botonesLugar[19]" ng-disabled = "true"><img src="../imagenes/bot19D.jpg" width="27" height="23" id="Image59" /></button> 

 </div>
 
 <div id="apDiv17">
  <button ng-show = "botonesLugar[10]" ng-disabled = "" ng-click="seleccionaaBoton(10)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image63','','../imagenes/bot10B.jpg',1)"><img src="../imagenes/bot10AGD.jpg" width="27" height="23" id="Image63" /></button>
  <button ng-show = "!botonesLugar[10]" ng-disabled = "true"><img src="../imagenes/bot10D.jpg" width="27" height="23" id="Image63" /></button> 

   <img src="../imagenes/barra01G.jpg" width="50" height="25" />
  <button ng-show = "botonesLugar[20]" ng-disabled = "" ng-click="seleccionaaBoton(20)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image65','','../imagenes/bot20B.jpg',1)"><img src="../imagenes/bot20AGD.jpg" width="27" height="23" id="Image65" /></button>
  <button ng-show = "!botonesLugar[20]" ng-disabled = "true"><img src="../imagenes/bot20D.jpg" width="27" height="23" id="Image65" /></button> 

 </div>

<div id="apDiv18"></div>
<div id="apDiv23"><img src="../imagenes/cabezlugaresabajoGD.jpg" width="800" height="31" /></div>
</div>
    <div id="lista" class="container">
    <div class="col-md-12">
      <span id="lugarCont"></span>
        <div class="container">
          <div class="row">
            
            <input class="col-2" ng-model="searchText" type="text" class="form-control" placeholder="Busqueda de lugares"/>
          </div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-body">
            <table ng-init='configPages()' class='table'>
              <thead>
                <tr>
                  <th>Lugar</th>
                  <th>Producto</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='lugar in listaLugare | filter:searchText | startFromGrid: currentPage * pageSize | limitTo: pageSize'>
                  <td>{{lugar.lugar}}</td>
                  <td>{{lugar.producto}}</td>
                  
                </tr>
              </tbody>
            </table>
            <div class='btn-group'>
              <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
              <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
              <button type='button' class='btn btn-default' ng-disabled='currentPage >= usuarios.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
            </div>
          </div>
        </div>
      
    </div>
    
  </div>

  <div id="pago">
    <label for="precio">
      Cantidad a Pagar
    </label>
    <br>
    <input ng-model="precio" ng-disabled="true" type="text" name="precio">
  </div>
  <div id="lugar">
    <label for="lugar">
      Los lugares que escojiste son:
    </label>
    <br>
    <input ng-model="user.lugar" ng-disabled="true" type="text" name="lugar"> <button class="btn btn-success" ng-click="limpiarSel()">Limpiar seleccion actual de lugares</button>
  </div>

    <div id="formulario" class="container">
    <form id="userForm" name="userForm" novalidate method="post" action="">
      <div id="form1" class="col-md-6">
        
          <h3 colspan="2" class="naranja">Favor de llenar el formulario</h3>
          <br>
        <label for="name">
            <div align="right"><strong>Nombre</strong></div>
            </label>
            <br>
            <input class="formu" name="name" type="text" id="name" ng-model="user.name"  required />
              <span class="messages" ng-show="userForm.$submitted || userForm.name.$touched">
            <span ng-show="userForm.name.$error.required">El campo es obligatorio.</span>
        </span>
          <br>
        
        
          <label for="appaterno">
            <div align="right"><strong>Apellido Paterno</strong></div>
          </label>
          <br>
          <input class="formu" name="appaterno" type="text" ng-model="user.appaterno"  required />
          <span class="messages" ng-show="userForm.$submitted || userForm.appaterno.$touched">
          <span ng-show="userForm.appaterno.$error.required">El campo es obligatorio.</span>
          </span>
        <br>
        
          <label>
            <div align="right"><strong>Apellido Materno</strong></div>
          </label>
          <br>
          <input class="formu" name="apmaterno" type="text" ng-model="user.apmaterno"  required />
          <span class="messages" ng-show="userForm.$submitted || userForm.apmaterno.$touched">
            <span ng-show="userForm.apmaterno.$error.required">El campo es obligatorio.</span>
          </span>
        <br>
        
          <label>
            <div align="right"><strong>Estado</strong></div>
          </label>
          <br>
          
          <select class="formu" ng-model="user.estado" id="estados" name="estados">

        <option value="">Todo México</option>

        <option value="Aguascalientes">Aguascalientes</option>

        <option value="Baja California">Baja California</option>

        <option value="Baja California Sur">Baja California Sur</option>

        <option value="Campeche">Campeche</option>

        <option value="Ciudad de México">Ciudad de México</option>

        <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>

        <option value="Colima">Colima</option>

        <option value="Chiapas">Chiapas</option>

        <option value="Chihuahua">Chihuahua</option>

        <option value="Durango">Durango</option>

        <option value="Estado de México">Estado de México</option>

        <option value="Guanajuato">Guanajuato</option>

        <option value="Guerrero">Guerrero</option>

        <option value="Hidalgo">Hidalgo</option>

        <option value="Jalisco">Jalisco</option>

        <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>

        <option value="Morelos">Morelos</option>

        <option value="Nayarit">Nayarit</option>

        <option value="Nuevo León">Nuevo León</option>

        <option value="Oaxaca">Oaxaca</option>

        <option value="Puebla">Puebla</option>

        <option value="Querétaro">Querétaro</option>

        <option value="Quintana Roo">Quintana Roo</option>

        <option value="San Luis Potosí">San Luis Potosí</option>

        <option value="Sinaloa">Sinaloa</option>

        <option value="Sonora">Sonora</option>

        <option value="Tabasco">Tabasco</option>

        <option value="Tamaulipas">Tamaulipas</option>

        <option value="Tlaxcala">Tlaxcala</option>

        <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>

        <option value="Yucatán">Yucatán</option>

        <option value="Zacatecas">Zacatecas</option>

      </select>
        
        <br>
          <label>
            <div align="right"><strong>Telefono celular</strong></div>
          </label>
          <br>
          <input class="formu" name="telefonoCel" type="number" ng-model="cel"  required min="1111111111" max="99999999999999" />
          <span class="messages" ng-show="userForm.$submitted || userForm.telefonoCel.$touched">
            <span ng-show="userForm.telefonoCel.$error.min">El numero telefonico debe tener al menos 10 digito y como maximo 14</span>
            <span ng-show="userForm.telefonoCel.$error.required">El campo es obligatorio.</span>
          </span>
        
        <br>
          <label>
            <div align="right"><strong>Telefono local</strong></div>
          </label>
          <br>
          <input class="formu" name="telefono" type="number" ng-model="tel"  required min="1111111111" max="99999999999999"  />
          <span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
            <span ng-show="userForm.telefono.$error.min">El numero telefonico debe tener al menos 10 digito y como maximo 14</span>
            <span ng-show="userForm.telefono.$error.required">El campo es obligatorio.</span>
          </span>
        
        <br>
          <label>
            <div align="right"><strong>Correo electrónico</strong></div>
          </label>
          <br>
          <input class="formu" name="email" type="email" ng-model="user.email"  required />
          <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
            <span ng-show="userForm.email.$error.required">El campo es obligatorio.</span>
            <span ng-show="userForm.email.$error.email">Formato de email incorrecto.</span>
          </span>
        
        <br>
     </div>
     <div id="form2" class="col-md-6">
          
        <br>
          <label>
            <div align="left"><strong>Producto</strong></div>
          </label>
          <br>
          <tags-input name="tag" id="tag" class="formu" ng-model="user.tags" max-tags="3" enforce-max-tags required>
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
          <span class="messages" ng-show="userForm.$submitted || userForm.tag.$touched">
            <span ng-show="userForm.tag.$error.required">El campo es obligatorio.</span>
            
          </span>

        
        <br>
          <label>
            <div align="right">
              <p><strong>Descripcion del producto</strong></p>
            </div>
          </label>
          <br>
          <textarea class="formu" ng-model="user.productoDescip" name="producto" cols="40" rows="4" id="producto" required></textarea>

            <span class="messages" ng-show="userForm.$submitted || userForm.producto.$touched">
            <span ng-show="userForm.producto.$error.required">El campo es obligatorio.</span>
            
          </span>
        
        <br>
          <label>
            <div align="right">
              <p><strong>Comentarios (opcional)</strong></p>
            </div>
          </label>
          <br>
          <textarea class="formu" ng-model="user.comentario" name="comentario" cols="40" rows="4" id="comentario"></textarea>
        
        <br>
        <br>
          &nbsp;
          
        
      </div>
    </form>
    </div>
    <div id="boton">
      <button class="btn btn-primary btn-lg" ng-click="update()"  ng-disabled="userForm.$invalid">Enviar</button>
    </div>
    <div id="contene04">
    <a href="../../index.html"><div id="salir"></div></a>
    </div>
  </div>
</div>
</div>
  
  <script type="text/javascript" src="../script/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../script/angular-1.6.2/angular.min.js"></script>
  <script type="text/javascript" src="../script/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../script/bootbox.min.js"></script>
  <script type="text/javascript" src="../script/ng-tags-input/ng-tags-input.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/controler/form.js"></script>
  <script type="text/javascript">
      function MM_openBrWindow(theURL,winName,features) { //v2.0
        window.open(theURL,winName,features);
    }
  </script>
  <script type="text/javascript">
    function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }
    function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }
    function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
      for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
      if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
       if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }
  </script>
</body>
</html>
