<!DOCTYPE html>
<html ng-app="Milo">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./mapa/css/plano.css">
	<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
</head>
<body ng-controller="formulario">
	<div class="container">
		<div class="col-md-4"></div>
		<div class="col-md-4" >
			<form name="userForm" novalidate>
				<label for="name">Nombre</label><br />
      			<input name="name" type="text" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.name.$touched">
			    	<span ng-show="userForm.name.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="appaterno">Apeido Paterno</label><br />
      			<input name="appaterno" type="text" ng-model="user.appaterno" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.appaterno.$touched">
			    <span ng-show="userForm.appaterno.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="apmaterno">Apeido Materno</label><br />
      			<input name="apmaterno" type="text" ng-model="user.apmaterno" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.apmaterno.$touched">
			    	<span ng-show="userForm.apmaterno.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="telefono">Telefono</label><br />
			    <input name="telefono" type="number" ng-model="user.telefono" ng-model-options="{ updateOn: 'blur' }" required min="11111111"  />
			    <span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
			    	<span ng-show="userForm.telefono.$error.min">El numero telefonico debe tener al menos 8 digito</span>
			    	<span ng-show="userForm.telefono.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="email">Email</label><br />
			    <input name="email" type="email" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
			    	<span ng-show="userForm.email.$error.required">El campo es obligatorio.</span>
			    	<span ng-show="userForm.email.$error.email">Formato de email incorrecto.</span>
			    </span>
			    <br />

			    <label for="categoria">Categoria</label><br />
			    <select name="categoria" ng-model="user.categoria" ng-model-options="{ updateOn: 'blur' }" required>
			    	<option value="Gastronomo">Gastronomo</option>
			    	<option value="Artesano">Artesano</option>
			    </select>
			    <span class="messages" ng-show="userForm.$submitted || userForm.categoria.$touched">
			    	<span ng-show="userForm.categoria.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="lugar">Lugar</label><br />
      			<input name="lugar" type="text" ng-model="user.lugar" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.lugar.$touched">
			    	<span ng-show="userForm.lugar.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="estado">Estado</label><br />
      			<input name="estado" type="text" ng-model="user.estado" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.estado.$touched">
			    	<span ng-show="userForm.estado.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />

			    <label for="otro">Otro</label><br />
      			<input name="otro" type="text" ng-model="user.otro" ng-model-options="{ updateOn: 'blur' }" required />
			    <span class="messages" ng-show="userForm.$submitted || userForm.otro.$touched">
			    	<span ng-show="userForm.otro.$error.required">El campo es obligatorio.</span>
			    </span>
			    <br />
			     
			    <br /><br />
			    <input type="reset" ng-click="reset(userForm)" value="Limpiar" />
			    <input type="submit" ng-click="update()" value="Guardar" ng-disabled="userForm.$invalid" />
			</form>
			<pre>user = {{user | json}}</pre>
		</div>
		<div class="col-md-4"></div>
		<div class="container">
			<div class="col-md-12" ng-show="user.categoria=='Gastronomo'">
				<img name="plano" id="plano" src="./mapa/img/plano.jpg" width="1235" height="604" usemap="#planoMap">

				<map name="planoMap">
				  <area shape="poly" coords="12,445,405,445,405,505,12,505" data-toggle="modal" href="#areaA">
				  <area shape="poly" coords="12,185,405,185,405,235,12,235" data-toggle="modal" href="#areaB">
				  <area shape="poly" coords="12,110,405,110,405,160,12,160" data-toggle="modal" href="#areaC">
				  <area shape="poly" coords="830,110,1220,110,1220,160,830,160" data-toggle="modal" href="#areaD">
				  <area shape="poly" coords="830,185,1220,185,1220,235,830,235" data-toggle="modal" href="#areaE">
				  <area shape="poly" coords="840,345,965,345,965,390,1220,390,1220,500,840,500" data-toggle="modal" href="#areaF">
				  <area shape="poly" coords="440,500,855,500,855,604,440,604" data-toggle="modal" href="#areaG"">
				</map>

				<!--Area A-->
				<div class="modal fade" id="areaA" tabindex="-1" role="dialog" aria-labelledby="areaA" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaALabel">Área "A"</h4>
				      </div>
				      <div class="modal-body">
				  		<div class="row">
				  			<div class="col-md-2"></div>
				  			<div class="col-md-8">
								<div class="row">
									<div class="col-md-5">
										<button type="button" class="btn btn-primary btn-xs">A1</button>
										<button type="button" class="btn btn-primary btn-xs">A2</button>
										<button type="button" class="btn btn-primary btn-xs">A3</button>
										<button type="button" class="btn btn-primary btn-xs">A4</button>
										<button type="button" class="btn btn-primary btn-xs">A5</button>
										<button type="button" class="btn btn-primary btn-xs">A6</button>
									</div>
									<div class="col-md-7">
										<button type="button" class="btn btn-primary btn-xs">A7</button>
										<button type="button" class="btn btn-primary btn-xs">A8</button>
										<button type="button" class="btn btn-primary btn-xs">A9</button>
										<button type="button" class="btn btn-primary btn-xs">A10</button>
										<button type="button" class="btn btn-primary btn-xs">A11</button>
										<button type="button" class="btn btn-primary btn-xs">A12</button>
										<button type="button" class="btn btn-primary btn-xs">A13</button>
										<button type="button" class="btn btn-primary btn-xs">A14</button>
										<button type="button" class="btn btn-primary btn-xs">A15</button>
									</div>
								</div>
				  			</div>
				  		</div>
				 		<div class="row">
				  			<div class="col-md-2"></div>
				  			<div class="col-md-8">
				  				<hr class="areaAhr">
				  			</div>
				  		</div>
				  		<div class="row">
				  			<div class="col-md-2"></div>
				  			<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<button type="button" class="btn btn-primary btn-xs">A16</button>
										<button type="button" class="btn btn-primary btn-xs">A17</button>
										<button type="button" class="btn btn-primary btn-xs">A18</button>
										<button type="button" class="btn btn-primary btn-xs">A19</button>
										<button type="button" class="btn btn-primary btn-xs">A20</button>
										<button type="button" class="btn btn-primary btn-xs">A21</button>
										<button type="button" class="btn btn-primary btn-xs">A22</button>
									</div>
									<div class="col-md-6">
										<button type="button" class="btn btn-primary btn-xs">A23</button>
										<button type="button" class="btn btn-primary btn-xs">A24</button>
										<button type="button" class="btn btn-primary btn-xs">A25</button>
										<button type="button" class="btn btn-primary btn-xs">A26</button>
										<button type="button" class="btn btn-primary btn-xs">A27</button>
										<button type="button" class="btn btn-primary btn-xs">A28</button>
										<button type="button" class="btn btn-primary btn-xs">A29</button>
										<button type="button" class="btn btn-primary btn-xs">A30</button>
									</div>
								</div>
				  			</div>
				  		</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Area B-->
				<div class="modal fade" id="areaB" tabindex="-1" role="dialog" aria-labelledby="areaB" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaBLabel">Área "B"</h4>
				      </div>
				      <div class="modal-body">
				        <img name="areaBPlano" id="areaBPlano" src="./mapa/img/areaB.jpg" width="390" height="66" usemap="#areaBMapa"/>
				            <map name="areaBMapa">
				                <area shape="poly" coords="0,0,0,150,45,150,45,0" >
				            </map>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Area C-->
				<div class="modal fade" id="areaC" tabindex="-1" role="dialog" aria-labelledby="areaC" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaCLabel">Área "C"</h4>
				      </div>
				      <div class="modal-body">
				        <img name="areaCPlano" id="areaCPlano" src="./mapa/img/areaC.jpg" width="390" height="66" usemap="#areaCMapa"/>
				            <map name="areaCMapa">
				                <area shape="poly" coords="0,0,0,150,45,150,45,0" >
				            </map>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Area D-->
				<div class="modal fade" id="areaD" tabindex="-1" role="dialog" aria-labelledby="areaD" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaDLabel">Área "D"</h4>
				      </div>
				      <div class="modal-body">
				        <img name="areaDPlano" id="areaDPlano" src="./mapa/img/areaD.jpg" width="390" height="66" usemap="#areaDMapa"/>
				            <map name="areaDMapa">
				                <area shape="poly" coords="0,0,0,150,45,150,45,0" >
				            </map>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Area E-->
				<div class="modal fade" id="areaE" tabindex="-1" role="dialog" aria-labelledby="areaE" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaELabel">Área "E"</h4>
				      </div>
				      <div class="modal-body">
				        <img name="areaEPlano" id="areaEPlano" src="./mapa/img/areaE.jpg" width="390" height="66" usemap="#areaEMapa"/>
				            <map name="areaEMapa">
				                <area shape="poly" coords="0,0,0,150,45,150,45,0" >
				            </map>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Area F-->
				<div class="modal fade" id="areaF" tabindex="-1" role="dialog" aria-labelledby="areaF" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaFLabel">Área "F"</h4>
				      </div>
				      <div class="modal-body">
				        <img name="areaFPlano" id="areaFPlano" src="./mapa/img/areaF.jpg" width="390" height="66" usemap="#areaFMapa"/>
				            <map name="areaFMapa">
				                <area shape="poly" coords="0,0,0,150,45,150,45,0" >
				            </map>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!--Area G-->
				<div class="modal fade" id="areaG" tabindex="-1" role="dialog" aria-labelledby="areaG" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="areaGLabel">Área "G"</h4>
				      </div>
				      <div class="modal-body">
				        <img name="areaGPlano" id="areaGPlano" src="./mapa/img/areaG.jpg" width="390" height="66" usemap="#areaGMapa"/>
				            <map name="areaGMapa">
				                <area shape="poly" coords="0,0,0,150,45,150,45,0" >
				            </map>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			<div class="col-md-12" ng-show="user.categoria=='Artesano'">
				<h1>Artesano</h1>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="./angular-1.6.2/angular.min.js"></script>
	<script type="text/javascript" src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/controler/form.js"></script>
	<script type="text/javascript" src="./mapa/js/jquery.rwdImageMaps.js" ></script>
	<script>
		$(document).ready(function(e) {
			$('img[usemap]').rwdImageMaps();
		});
	</script>
</body>
</html>