<br>
<div class="container" ng-controller='tablaUsuarios'>
  <h1>Lista de participantes</h1>
  <br>
  <div class="container">
    <div class="row">
      <select class="selectpicker col-1" ng-model="consulta" ng-options="rm.name for rm in consultasSelect" ng-init="consulta=consultasSelect[0]" ng-change="listar()">
      </select>
      <select class="selectpicker col-1" ng-model="seccion" ng-options="rm.name for rm in secciones" ng-init="seccion=secciones[0]" ng-change="listar()">
      </select>
      <input class="col-2" ng-model="searchText" type="text" class="form-control" placeholder="Busqueda"/>
    </div>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-init='configPages()' class='table'>
        <thead>
          <tr>
            <th ng-repeat="i in titulos[consulta.name]">{{i}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='usuario in usuarios | filter:searchText | startFromGrid: currentPage * pageSize | limitTo: pageSize' , ng-click='seleccionarUsuario(usuario.id)'>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombreComp}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.correo}}</td>
            <td>{{usuario.lugares}}</td>
            <td>{{usuario.precio}}</td>
            <td><div ng-switch="consulta.name">
                  <div ng-switch-when="Todos">
                    {{usuario.productos}}
                  </div>
                  <div ng-switch-when="Por confirmar">
                    <button ng-click="confirmar(usuario.id,1)" class="btn btn-primary" type="submit">Confirmar</button>
                    <button ng-click="confirmar(usuario.id,2)" class="btn btn-primary" type="submit">Precio</button>
                  </div>
                  <div ng-switch-when="Confirmados">
                    <button ng-click="confirmar(usuario.id,2)" class="btn btn-primary" type="submit">Precio</button>
                  </div>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class='btn-group'>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
        <button type='button' class='btn btn-default' ng-disabled='currentPage >= usuarios.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
      </div>
    </div>
  </div>
</div>