<div ng-controller = "cat" id="todo">
    <div id="grupo">
      <div id="fondofb">
      <div id="cabeza"></div>
        <div id="contene01">
            <div id="paso01"></div>
            <div id="paso02"></div>
            <div id="paso03"></div>
        </div>
        <div id="contene02"></div>
        <div id="contene02bis"></div>
        <div id="contene03">
            <div id="mapa01"></div>
            <a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/Artesano" target="_self"><div id="mapa02"></div></a>
            <a ng-show = "!disponible[0]" target="_self"><div id="mapa02b"></div></a>
            <div id="mapa04"></div>
            <div id="mapa05"></div>
            <a ng-show = "disponible[1]" ng-click = 'catego("GA")' href="#/GastronomoA" target="_self"><div id="mapa06"></div></a>
            <a ng-show = "!disponible[1]" target="_self"><div id="mapa06b"></div></a>
            <a ng-show = "disponible[4]" ng-click = 'catego("GD")' href="#/GastronomoD" target="_self"><div id="mapa07"></div></a>
            <a ng-show = "!disponible[4]" target="_self"><div id="mapa07b"></div></a>
            <div id="mapa08"></div>
            <div id="mapa09"></div>
            <div id="mapa12"></div>
            <a ng-show = "disponible[3]" ng-click = 'catego("GC")' href="#/GastronomoC" target="_self"><div id="mapa11"></div></a>
            <a ng-show = "!disponible[3]" target="_self"><div id="mapa11b"></div></a>
            <a ng-show = "disponible[2]" ng-click = 'catego("GB")' href="#/GastronomoB" target="_self"><div id="mapa14"></div></a>
            <a ng-show = "!disponible[2]" target="_self"><div id="mapa14b"></div></a>
            <div id="mapa10"></div>
            <div id="mapa15"></div>
            <div id="mapa16"></div>
            <div id="mapa17"></div>
            <a ng-show = "disponible[5]" ng-click = 'catego("GE")' href="#/GastronomoE" target="_self"><div id="mapa13"></div></a>
            <a ng-show = "!disponible[5]" target="_self"><div id="mapa13b"></div></a>
            
        </div>
        <div id="contene04">
        <a href="http://www.sonparamilo.org.mx/"><div id="salir">{{disponible}}</div></a>
        </div>
        
      </div>
    </div>
</div>