<div id="todo">
    <div id="grupo">
      <div id="fondofb">
      <div id="cabeza"></div>
        <div id="contene01">
            <div id="paso01"></div>
            <div id="paso02"></div>
            <div id="paso03"></div>
        </div>
        <div id="contene02"></div>
        <div id="contene02bis"></div>
        <div id="contene03">
            <div id="mapa01"></div>
            <a href="#/Artesano" target="_self"><div id="mapa02"></div></a>
            <div id="mapa04"></div>
            <div id="mapa05"></div>
            <a href="#/GastronomoA" target="_self"><div id="mapa06"></div></a>
            <a href="#/GastronomoD" target="_self"><div id="mapa07"></div></a>
            <div id="mapa08"></div>
            <div id="mapa09"></div>
            <div id="mapa12"></div>
            <a href="#/GastronomoC" target="_self"><div id="mapa11"></div></a>
            <a href="#/GastronomoB" target="_self"><div id="mapa14"></div></a>
            <div id="mapa10"></div>
            <div id="mapa15"></div>
            <div id="mapa16"></div>
            <div id="mapa17"></div>
            <a href="#/GastronomoE" target="_self"><div id="mapa13"></div></a>
            <div id="mapa18"></div>
        </div>
        <div id="contene04">
        <a href="../index.html"><div id="salir"></div></a>
        </div>
        
      </div>
    </div>
</div>