
<div ng-controller="primero">
  <div id="Fcabeza">
    <img src="./img/cabezaInscrip.jpg" class="img-responsive center-block" alt="Responsive image">
  </div>
  	<div id="Fcontene01">
    	<img src="./img/cabeza4.jpg" class="img-responsive center-block" alt="Responsive image">
    </div>
  	<div id="Fcontene02">
      <img src="./img/gracias.jpg" class="img-responsive center-block" alt="Responsive image">
    </div>
    <div class="text-center">
      <h2>Folio: {{folio}}</h2>
    </div>
    <div id="Fcontene03">
      <a href="http://www.sonparamilo.org.mx/"><img class="img-responsive center-block" alt="Responsive image" src="./img/salir01.jpg" onmouseout="this.src='./img/salir01.jpg';" onmouseover="this.src='./img/salir02.jpg';"></a>
  </div>
</div>
