

  <div id="cabeza">
    <img src="./img/cabezaInscrip.jpg" class="img-responsive center-block" alt="Responsive image">
  </div>
  	<div id="contene01">
    	<img src="./img/cabeza4.jpg" class="img-responsive center-block" alt="Responsive image">
    </div>
  	<div id="contene02">
      <img src="./img/gracias.jpg" class="img-responsive center-block" alt="Responsive image">
    </div>
    <div id="contene03">
      <a href="./"><img class="img-responsive center-block" alt="Responsive image" src="./img/salir01.jpg" onmouseout="this.src='./img/salir01.jpg';" onmouseover="this.src='./img/salir02.jpg';"></a>
  </div>

