<div id="apDivGC5" style="position: absolute; left: 26px; top: 281px; width: 149px; height: 87px; z-index: 6"><img src="./img/azulderch.jpg" width="149" height="87" /></div>
<div id="apDivGC6">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','./img/bot01B.jpg',1)"><img src="./img/bot01A.jpg" width="27" height="23" id="Image8" />
	</button>
<img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','./img/bot12B.jpg',1)"><img src="./img/bot13A.jpg" width="27" height="23" id="Image10" />
	</button>
</div>
<div id="apDivGC7">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','./img/bot02B.jpg',1)"><img src="./img/bot02A.jpg" width="27" height="23" id="Image14" />
	</button>
<img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','./img/bot13B.jpg',1)"><img src="./img/bot13A.jpg" width="27" height="23" id="Image15" />
	</button>
</div>
<div id="apDivGC8">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','./img/bot03B.jpg',1)"><img src="./img/bot03A.jpg" width="27" height="23" id="Image19" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','./img/bot14B.jpg',1)"><img src="./img/bot14A.jpg" width="27" height="23" id="Image21" />
	</button>
</div>
<div id="apDivGC9">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image25','','./img/bot04B.jpg',1)"><img src="./img/bot04A.jpg" width="27" height="23" id="Image25" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','./img/bot15B.jpg',1)"><img src="./img/bot15A.jpg" width="27" height="23" id="Image27" />
	</button>
</div>
<div id="apDivGC10"></div>
<div id="apDivGC11">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image33','','./img/bot05B.jpg',1)"><img src="./img/bot05A.jpg" width="27" height="23" id="Image33" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image35','','./img/bot16B.jpg',1)"><img src="./img/bot16A.jpg" width="27" height="23" id="Image35" />
	</button>
</div>
<div id="apDivGC12">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','./img/bot06B.jpg',1)"><img src="./img/bot06A.jpg" width="27" height="23" id="Image39" />
	</button><img src="./img/barra01BIS.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image41','','./img/bot17B.jpg',1)"><img src="./img/bot17A.jpg" width="27" height="23" id="Image41" />
	</button>
</div>
<div id="apDivGC13">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image45','','./img/bot07B.jpg',1)"><img src="./img/bot07A.jpg" width="27" height="23" id="Image45" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image47','','./img/bot18B.jpg',1)"><img src="./img/bot18A.jpg" width="27" height="23" id="Image47" />
	</button>
</div>
<div id="apDivGC14">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image51','','./img/bot08B.jpg',1)"><img src="./img/bot08A.jpg" width="27" height="23" id="Image51" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image53','','./img/bot19B.jpg',1)"><img src="./img/bot19A.jpg" width="27" height="23" id="Image53" />
	</button>
</div>
<div id="apDivGC15"></div>
<div id="apDivGC16">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image58','','./img/bot09B.jpg',1)"><img src="./img/bot09A.jpg" width="27" height="23" id="Image58" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image59','','./img/bot20B.jpg',1)"><img src="./img/bot20A.jpg" width="27" height="23" id="Image59" />
	</button>
</div>
<div id="apDivGC17">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image63','','./img/bot10B.jpg',1)"><img src="./img/bot10A.jpg" width="27" height="23" id="Image63" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image64','','./img/bot21B.jpg',1)"><img src="./img/bot21A.jpg" width="27" height="23" id="Image64" />
	</button>
</div>
<div id="apDivGC18">
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image65','','./img/bot11B.jpg',1)"><img src="./img/bot11A.jpg" width="27" height="23" id="Image65" />
	</button><img src="./img/barra01.jpg" width="50" height="25" />
	<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image66','','./img/bot22B.jpg',1)"><img src="./img/bot22A.jpg" width="27" height="23" id="Image66" />
	</button>
</div>
<div id="apDivGC19"></div>
<img src="../GastronomosA/ImagSeccA/bot21D.jpg" width="27" height="23" /><img src="../GastronomosA/ImagSeccA/bot21A.jpg" width="30" height="25" /><img src="../GastronomosA/ImagSeccA/bot21B.jpg" width="27" height="23" /><img src="../GastronomosA/ImagSeccA/bot21C.jpg" width="27" height="23" />
<div id="apDivGC20"><img src="./img/cabezlugaresabajo.jpg" width="800" height="31" /></div>