<div ng-controller = "cat" id="todo">
    <div id="grupo">
      <div id="fondofb">
      <div id="cabeza"></div>
        <div id="contene01">
            <div id="paso01"></div>
            <div id="paso02"></div>
            <div id="paso03"></div>
        </div>
        <div id="contene02"></div>
        <div id="contene03"></div>
        <div id="contene03bis">
            <div id="arriba"></div>
            <a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/Artesano" target="_self"><div id="bot01"></div></a>
            <a ng-show = "!disponible[0]" target="_self"><div id="bot01b"></div></a>
	        <a href="ZonaA/ZonaA menu.html"><div id="bot01"></div></a>

	        <a ng-show = "disponible[1]" ng-click = 'catego("GA")' href="#/GastronomoA" target="_self"><div id="bot02"></div></a>
            <a ng-show = "!disponible[1]" target="_self"><div id="bot02b"></div></a>
	        <a href="ZonaB/ZonaB menu.html"><div id="bot02"></div></a>

	        <a ng-show = "disponible[4]" ng-click = 'catego("GD")' href="#/GastronomoD" target="_self"><div id="bot03"></div></a>
            <a ng-show = "!disponible[4]" target="_self"><div id="bot03b"></div></a>
	        <a href="ZonaC/ZonaC.html"><div id="bot03"></div></a>

	        <a ng-show = "disponible[4]" ng-click = 'catego("GD")' href="#/GastronomoD" target="_self"><div id="bot04"></div></a>
            <a ng-show = "!disponible[4]" target="_self"><div id="bot04b"></div></a>
	        <a href="ZonaD/ZonaD menu.html"><div id="bot04"></div>
	        <div id="abajo"></div>

        </div>
        <div id="contene04">
        <a href="http://www.sonparamilo.org.mx/"><div id="salir"></div></a>
        </div>
        
      </div>
    </div>
</div>