
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<div class="col-md-1"></div>
<div class="col-md-10">
	<div ng-controller="formulario" class="row" ng-show="1">

		<div onload="MM_preloadImages('./img/paso01B.jpg','./img/BotA1b.jpg','./img/BotA2b.jpg','./img/BotA3b.jpg','./img/BotA4b.jpg','./img/BotA5b.jpg','./img/BotA6b.jpg','./img/botsalir02.jpg')">

			<div id="apDiv1"><img src="./img/CabezaInscripciones.jpg" width="800" height="51" /></div>

			<div id="apDiv2">
				<a href="#/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','./img/paso01B.jpg',1)">
					<img src="./img/paso01A.jpg" width="75" height="70" id="Image2" />
				</a>
				<img style="margin-left: -0.5%" src="./img/paso02.jpg" width="650" height="70" />
				<img style="margin-left: 90.4%; margin-top:-11.4%;" src="./img/paso03A.jpg" width="75" height="70" />
			</div>

			<div id="apDiv3"><img src="./img/CabezaGastronomosA.jpg" width="800" height="76" /></div>
			<div id="apDiv4">
				<a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/ZonaA/1" target="_self" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','./img/BotA1b.jpg',1)">
					<img src="./img/BotA1a.jpg" width="257" height="151" id="Image6" />
				</a>
				<a ng-show = "!disponible[0]" target="_self">
					<img src="./img/BotA1a.jpg" width="257" height="151" id="Image6" />
				</a>
				
			</div>
			<div id="apDiv5">
				<a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/ZonaA/2" target="_self" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','./img/BotA2b.jpg',1)">
					<img src="./img/BotA2a.jpg" width="257" height="130" id="Image7" />
				</a>
				<a ng-show = "!disponible[0]" target="_self">
					<img src="./img/BotA2a.jpg" width="257" height="130" id="Image7" />
				</a>
				
			</div>

			<div id="apDiv6">
				<a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/ZonaA/3" target="_self" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','./img/BotA3b.jpg',1)">
					<img src="./img/BotA3a.jpg" width="257" height="145" id="Image8" />
				</a>
				<a ng-show = "!disponible[0]" target="_self">
					<img src="./img/BotA3a.jpg" width="257" height="145" id="Image8" />
				</a>
				
			</div>

			<div id="apDiv7">
				<a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/ZonaA/4" target="_self" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','./img/BotA4b.jpg',1)">
					<img src="./img/BotA4a.jpg" width="349" height="151" id="Image9" />
				</a>
				<a ng-show = "!disponible[0]" target="_self">
					<img src="./img/BotA4a.jpg" width="349" height="151" id="Image9" />
				</a>

			</div>

			<div id="apDiv8">
				<a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/ZonaA/5" target="_self" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','./img/BotA5b.jpg',1)">
					<img src="./img/BotA5a.jpg" width="349" height="130" id="Image10" />
				</a>
				<a ng-show = "!disponible[0]" target="_self">
					<img src="./img/BotA5a.jpg" width="349" height="130" id="Image10" />
				</a>
				
			</div>
			<div id="apDiv9">
				<a ng-show = "disponible[0]" ng-click = 'catego("AA")' href="#/ZonaA/6" target="_self" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','./img/BotA6b.jpg',1)">
					<img src="./img/BotA6a.jpg" width="349" height="145" id="Image11" />
				</a>
				<a ng-show = "!disponible[0]" target="_self">
					<img src="./img/BotA6a.jpg" width="349" height="145" id="Image11" />
				</a>
				
			</div>

			<div id="apDiv11">
				<a href="#/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','./img/botsalir02.jpg',1)">
					<img src="./img/botsalir01.jpg" width="608" height="67" id="Image12" />
				</a>
			</div>

			<div id="apDiv13"><img src="./img/norte.jpg" width="195" height="424" /></div>

		</div>
	</div>
</div>
<div class="col-md-1"></div>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br>