<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

<div class="col-md-1"></div>
<div class="col-md-10">
  <div ng-controller="formulario" class="row" ng-show="1">
    <div onload="MM_preloadImages('./img/paso01B.jpg')">
      <div id="apDiv1"><img src="./img/CabezaInscripciones.jpg" width="800" height="51" /></div>

      <div id="apDiv2">
        <a href="#/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','./img/paso01B.jpg',1)">
          <img src="./img/paso01A.jpg" width="75" height="70" id="Image2" />
        </a>
        <img style="margin-left: -0.5%" src="./img/paso02.jpg" width="650" height="70" />
        <img style="margin-left: 90.4%; margin-top:-11.4%;" src="./img/paso03A.jpg" width="75" height="70" />
      </div>
      <div id="apDiv3"><img src="./img/CabezaArtesanosD1.jpg" width="801" height="76" /></div>
      <div id="apDiv4D1"><img src="./img/BarrarribaD.jpg" width="471" height="56" /></div>
      <div id="apDiv5D1"><img src="./img/BarraIsqD.jpg" width="104" height="389" /></div>
      <div id="apDiv6D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','./img/bot01B.jpg',1)"><img src="./img/bot01A.jpg" width="25" height="29" id="Image1" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','./img/bot06B.jpg',1)"><img src="./img/bot06A.jpg" width="25" height="29" id="Image6" /></button>
      </div>
      <div id="apDiv7D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image02','','./img/bot02B.jpg',1)"><img src="./img/bot02A.jpg" width="25" height="29" id="Image02" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','./img/bot07B.jpg',1)"><img src="./img/bot07A.jpg" width="25" height="29" id="Image7" /></button>
      </div>
      <div id="apDiv8D1"></div>
      <div id="apDiv9D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','./img/bot03B.jpg',1)"><img src="./img/bot03A.jpg" width="25" height="29" id="Image3" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','./img/bot08B.jpg',1)"><img src="./img/bot08A.jpg" width="25" height="29" id="Image8" /></button>
      </div>
      <div id="apDiv10D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','./img/bot04B.jpg',1)"><img src="./img/bot04A.jpg" width="25" height="29" id="Image4" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','./img/bot09B.jpg',1)"><img src="./img/bot09A.jpg" width="25" height="29" id="Image9" /></button>
      </div>
      <div id="apDiv12D1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','./img/bot05B.jpg',1)"><img src="./img/bot05A.jpg" width="25" height="29" id="Image5" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','./img/bot10B.jpg',1)"><img src="./img/bot10A.jpg" width="25" height="29" id="Image10" /></button>
      </div>
      <div id="apDiv13D1"><img src="./img/pasill2.jpg" width="269" height="31" /></div>
      <div id="apDiv14D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','./img/bot11B.jpg',1)"><img src="./img/bot11A.jpg" width="25" height="29" id="Image11" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image16','','./img/bot16B.jpg',1)"><img src="./img/bot16A.jpg" width="25" height="29" id="Image16" /></button>
      </div>
      <div id="apDiv15D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','./img/bot12B.jpg',1)"><img src="./img/bot12A.jpg" width="25" height="29" id="Image12" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image17','','./img/bot17B.jpg',1)"><img src="./img/bot17A.jpg" width="25" height="29" id="Image17" /></button>
      </div>
      <div id="apDiv16D1"><img src="./img/pasillo.jpg" width="32" height="75" /></div>
      <div id="apDiv17D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image13','','./img/bot13B.jpg',1)"><img src="./img/bot13A.jpg" width="25" height="29" id="Image13" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image18','','./img/bot18B.jpg',1)"><img src="./img/bot18A.jpg" width="25" height="29" id="Image18" /></button>
      </div>
      <div id="apDiv18D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','./img/bot14B.jpg',1)"><img src="./img/bot14A.jpg" width="25" height="29" id="Image14" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','./img/bot19B.jpg',1)"><img src="./img/bot19A.jpg" width="25" height="29" id="Image19" /></button>
      </div>
      <div id="apDiv19D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','./img/bot15B.jpg',1)"><img src="./img/bot15A.jpg" width="25" height="29" id="Image15" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','./img/bot20B.jpg',1)"><img src="./img/bot20A.jpg" width="25" height="29" id="Image20" /></button>
      </div>
      <div id="apDiv20D1"><img src="./img/pasill2.jpg" width="269" height="31" /></div>
      <div id="apDiv21D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','./img/bot21B.jpg',1)"><img src="./img/bot21A.jpg" width="25" height="29" id="Image21" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image26','','./img/bot26B.jpg',1)"><img src="./img/bot26A.jpg" width="25" height="29" id="Image26" /></button>
      </div>
      <div id="apDiv22D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image22','','./img/bot22B.jpg',1)"><img src="./img/bot22A.jpg" width="25" height="29" id="Image22" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','./img/bot27B.jpg',1)"><img src="./img/bot27A.jpg" width="25" height="29" id="Image27" /></button>
      </div>
      <div id="apDiv23D1"><img src="./img/pasillo.jpg" width="32" height="75" /></div>
      <div id="apDiv24D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','./img/bot23B.jpg',1)"><img src="./img/bot23A.jpg" width="25" height="29" id="Image23" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image28','','./img/bot28B.jpg',1)"><img src="./img/bot28A.jpg" width="25" height="29" id="Image28" /></button>
      </div>
      <div id="apDiv25D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image24','','./img/bot24B.jpg',1)"><img src="./img/bot24A.jpg" width="25" height="29" id="Image24" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image29','','./img/bot29B.jpg',1)"><img src="./img/bot29A.jpg" width="25" height="29" id="Image29" /></button>
      </div>
      <div id="apDiv26D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image25','','./img/bot25B.jpg',1)"><img src="./img/bot25A.jpg" width="25" height="29" id="Image25" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image30','','./img/bot30B.jpg',1)"><img src="./img/bot30A.jpg" width="25" height="29" id="Image30" /></button>
      </div>
      <div id="apDiv27D1"><img src="./img/pasill2.jpg" width="269" height="31" /></div>
      <div id="apDiv28D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image31','','./img/bot31B.jpg',1)"><img src="./img/bot31A.jpg" width="25" height="29" id="Image31" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image36','','./img/bot36B.jpg',1)"><img src="./img/bot36A.jpg" width="25" height="29" id="Image36" /></button>
      </div>
      <div id="apDiv29D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image32','','./img/bot32B.jpg',1)"><img src="./img/bot32A.jpg" width="25" height="29" id="Image32" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image37','','./img/bot37B.jpg',1)"><img src="./img/bot37A.jpg" width="25" height="29" id="Image37" /></button>
      </div>
      <div id="apDiv30D1"><img src="./img/pasillo.jpg" width="32" height="75" /></div>
      <div id="apDiv31D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image33','','./img/bot33B.jpg',1)"><img src="./img/bot33A.jpg" width="25" height="29" id="Image33" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image38','','./img/bot38B.jpg',1)"><img src="./img/bot38A.jpg" width="25" height="29" id="Image38" /></button>
      </div>
      <div id="apDiv32D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image34','','./img/bot34B.jpg',1)"><img src="./img/bot34A.jpg" width="25" height="29" id="Image34" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','./img/bot39B.jpg',1)"><img src="./img/bot39A.jpg" width="25" height="29" id="Image39" /></button>
      </div>
      <div id="apDiv33D1">
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image35','','./img/bot35B.jpg',1)"><img src="./img/bot35A.jpg" width="25" height="29" id="Image35" /></button>
      <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image40','','./img/bot40B.jpg',1)"><img src="./img/bot40A.jpg" width="25" height="29" id="Image40" /></button>
      </div>
      <div id="apDiv34D1"><img src="./img/BarraDerD.jpg" width="104" height="389" /></div>

      <div id="apDiv35D1"><img src="./img/BarracentroD.jpg" width="477" height="124" /></div>
      <div id="apDiv36D1">
      <form id="form1" name="form1" method="post" action="">
          <table width="260" border="0">
            <tr>
              <td class="naranja">Si el lugar que escojiste está libre, favor de llanar el formulario</td>
            </tr>
            <tr>
              <td><strong>Nombre</strong></td>
            </tr>
            <tr>
              <td>          <input name="textfield" type="text" id="textfield" maxlength="10" />        </td>
            </tr>
            <tr>
              <td><strong>Apellido Paterno</strong></td>
            </tr>
            <tr>
              <td>          <input name="textfield2" type="text" id="textfield2" maxlength="10" />        </td>
            </tr>
            <tr>
              <td><strong>Apellido Materno</strong></td>
            </tr>
            <tr>
              <td>          <input name="textfield3" type="text" id="textfield3" maxlength="10" />        </td>
            </tr>
            <tr>
              <td><strong>Ciudad y Estado</strong></td>
            </tr>
            <tr>
              <td>          <input name="textfield4" type="text" id="textfield4" maxlength="10" />        </td>
            </tr>
            <tr>
              <td><strong>No. de celular</strong></td>
            </tr>
            <tr>
              <td>          <input name="textfield5" type="text" id="textfield5" maxlength="10" />        </td>
            </tr>
            <tr>
              <td><strong>Correo electrónico</strong></td>
            </tr>
            <tr>
              <td><input name="textfield6" type="text" id="textfield6" maxlength="30" /></td>
            </tr>
            <tr>
              <td><strong>No. del lugar que escojiste</strong></td>
            </tr>
            <tr>
              <td>si está en tu presupuesto puedes solicitar 2 lugares</td>
            </tr>
            <tr>
              <td><strong>Puesto No.1</strong></td>
            </tr>
            <tr>
              <td><input name="textfield7" type="text" id="textfield7" maxlength="2" /></td>
            </tr>
            <tr>
              <td><strong>Puesto No.2</strong></td>
            </tr>
            <tr>
              <td><input name="textfield8" type="text" id="textfield8" maxlength="2" /></td>
            </tr>
            <tr>
              <td><strong>Comentarios:</strong></td>
            </tr>
            <tr>
              <td><label for="textarea"></label>
              <textarea name="textarea" id="textarea" cols="30" rows="5"></textarea></td>
            </tr>
            <tr>
              <td><input type="submit" name="button" id="button" value="Enviar" /></td>
            </tr>
          </table>
        </form>
      </div>
      <div id="apDiv37D1"><img src="./img/BarrbajoD.jpg" width="477" height="300" /></div>
    </div>
  </div>
</div>
<div class="col-md-1"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>