<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

<div class="col-md-1"></div>
  <div class="col-md-10">
    <div ng-controller="formulario" class="row" ng-show="1">
      <div onload="MM_preloadImages('./img/paso01B.jpg')">
        <div id="apDiv1"><img src="./img/CabezaInscripciones.jpg" width="800" height="51" /></div>

        <div id="apDiv2">
          <a href="#/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','./img/paso01B.jpg',1)">
            <img src="./img/paso01A.jpg" width="75" height="70" id="Image2" />
          </a>
          <img style="margin-left: -0.5%" src="./img/paso02.jpg" width="650" height="70" />
          <img style="margin-left: 90.4%; margin-top:-11.4%;" src="./img/paso03A.jpg" width="75" height="70" />
        </div>

        <div id="apDiv3"><img src="./img/CabezaArtesanosB1.jpg" width="801" height="77" /></div>
        <div id="apDiv4B1"><img src="./img/BarrarribaB.jpg" width="801" height="55" /></div>
        <div id="apDiv5B1"><img src="./img/BarraIsqB.jpg" width="103" height="111" /></div>
        <div id="apDiv6B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','./img/bot01B.jpg',1)"><img src="./img/bot01A.jpg" width="25" height="29" id="Image1" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','./img/bot11B.jpg',1)"><img src="./img/bot11A.jpg" width="25" height="29" id="Image11" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','./img/bot21B.jpg',1)"><img src="./img/bot21A.jpg" width="25" height="29" id="Image21" /></button>
        </div>
        <div id="apDiv7B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','./img/bot02B.jpg',1)"><img src="./img/bot02A.jpg" width="25" height="29" id="Image2" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','./img/bot12B.jpg',1)"><img src="./img/bot12A.jpg" width="25" height="29" id="Image12" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image22','','./img/bot22B.jpg',1)"><img src="./img/bot22A.jpg" width="25" height="29" id="Image22" /></button>
        </div>
        <div id="apDiv8B1"><img src="./img/pasillo.jpg" width="32" height="111" /></div>
        <div id="apDiv9B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','./img/bot03B.jpg',1)"><img src="./img/bot03A.jpg" width="25" height="29" id="Image3" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image13','','./img/bot13B.jpg',1)"><img src="./img/bot13A.jpg" width="25" height="29" id="Image13" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','./img/bot23B.jpg',1)"><img src="./img/bot23A.jpg" width="25" height="29" id="Image23" /></button>
        </div>
        <div id="apDiv10B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','./img/bot04B.jpg',1)"><img src="./img/bot04A.jpg" width="25" height="29" id="Image4" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','./img/bot14B.jpg',1)"><img src="./img/bot14A.jpg" width="25" height="29" id="Image14" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image24','','./img/bot24B.jpg',1)"><img src="./img/bot24A.jpg" width="25" height="29" id="Image24" /></button>
        </div>
        <div id="apDiv11B1"><img src="./img/pasillo.jpg" width="32" height="111" /></div>
        <div id="apDiv12B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','./img/bot05B.jpg',1)"><img src="./img/bot05A.jpg" width="25" height="29" id="Image5" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','./img/bot15B.jpg',1)"><img src="./img/bot15A.jpg" width="25" height="29" id="Image15" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image25','','./img/bot25B.jpg',1)"><img src="./img/bot25A.jpg" width="25" height="29" id="Image25" /></button>
        </div>
        <div id="apDiv13B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','./img/bot06B.jpg',1)"><img src="./img/bot06A.jpg" width="25" height="29" id="Image6" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image16','','./img/bot16B.jpg',1)"><img src="./img/bot16A.jpg" width="25" height="29" id="Image16" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image26','','./img/bot26B.jpg',1)"><img src="./img/bot26A.jpg" width="25" height="29" id="Image26" /></button>
        </div>
        <div id="apDiv18B1"><img src="./img/pasillo.jpg" width="32" height="111" /></div>
        <div id="apDiv19B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','./img/bot07B.jpg',1)"><img src="./img/bot07A.jpg" width="25" height="29" id="Image7" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image17','','./img/bot17B.jpg',1)"><img src="./img/bot17A.jpg" width="25" height="29" id="Image17" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','./img/bot27B.jpg',1)"><img src="./img/bot27A.jpg" width="25" height="29" id="Image27" /></button>
        </div>
        <div id="apDiv20B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','./img/bot08B.jpg',1)"><img src="./img/bot08A.jpg" width="25" height="29" id="Image8" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image18','','./img/bot18B.jpg',1)"><img src="./img/bot18A.jpg" width="25" height="29" id="Image18" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image28','','./img/bot28B.jpg',1)"><img src="./img/bot28A.jpg" width="25" height="29" id="Image28" /></button>
        </div>
        <div id="apDiv21B1"><img src="./img/pasillo.jpg" width="32" height="111" /></div>
        <div id="apDiv22B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','./img/bot09B.jpg',1)"><img src="./img/bot09A.jpg" width="25" height="29" id="Image9" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','./img/bot19B.jpg',1)"><img src="./img/bot19A.jpg" width="25" height="29" id="Image19" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image29','','./img/bot29B.jpg',1)"><img src="./img/bot29A.jpg" width="25" height="29" id="Image29" /></button>
        </div>
        <div id="apDiv23B1">
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','./img/bot10B.jpg',1)"><img src="./img/bot10A.jpg" width="25" height="29" id="Image10" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','./img/bot20B.jpg',1)"><img src="./img/bot20A.jpg" width="25" height="29" id="Image20" /></button>
        <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image30','','./img/bot30B.jpg',1)"><img src="./img/bot30A.jpg" width="25" height="29" id="Image30" /></button>
        </div>
        <div id="apDiv24B1"><img src="./img/BarraDerB.jpg" width="91" height="111" /></div>
        <div id="apDiv25B1"><img src="./img/Barracentro1B.jpg" width="801" height="81" /></div>
        <div id="apDiv26B1"><img src="./img/BarrbajoB.jpg" width="801" height="184" /></div>
        <div id="apDiv27B1">
          <form id="form1" name="form1" method="post" action="">
            <table width="800" border="0">
              <tr>
                <td colspan="2"><span class="naranja">Si el lugar que escojiste está libre, favor de llenar el formulario<br />
                </span></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td width="221"><div align="right"><strong>Nombre</strong></div></td>
                <td width="569"><input name="textfield8" type="text" id="textfield8" maxlength="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><strong>Apellido Paterno</strong></div></td>
                <td><input name="textfield7" type="text" id="textfield7" maxlength="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><strong>Apellido Materno</strong></div></td>
                <td><input name="textfield6" type="text" id="textfield6" maxlength="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><strong>Ciudad y Estado</strong></div></td>
                <td><input name="textfield5" type="text" id="textfield5" maxlength="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><strong>No. de Celular</strong></div></td>
                <td><input name="textfield4" type="text" id="textfield4" maxlength="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><strong>Correo electrónico</strong></div></td>
                <td><input name="textfield3" type="text" id="textfield3" maxlength="10" /></td>
              </tr>
              <tr>
                <td colspan="2"><div align="left"><strong>No. del lugar que escogiste</strong>, <strong>ii está en tu presupuesto puedes escojer hasta 2 lugare</strong>s</div></td>
              </tr>
              <tr>
                <td>, </td>
                <td>Lugar 1: 
                <input name="textfield2" type="text" id="textfield2" maxlength="10" /> 
                Lugar 2: 
                <input name="textfield" type="text" id="textfield" maxlength="10" /></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><strong>Comentarios</strong></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><textarea name="textarea" id="textarea" cols="30" rows="5"></textarea></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="button" id="button" value="Enviar" /></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </form>
        </div>
    </div>
  </div>
<div class="col-md-1"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>