#apDiv1 {
	position: absolute;
	width: 800px;
	height: 50px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	width: 800px;
	height: 70px;
	z-index: 2;
	left: -90px;
	top: 180px;
}
#apDiv3 {
	position: absolute;
	width: 800px;
	height: 51px;
	z-index: 3;
	top: 250px;
}
#apDiv4 {
	position: absolute;
	width: 341px;
	height: 146px;
	z-index: 4;
	left: -90px;
	top: 295px;
	background-color: #00CCFF;
}
#apDiv5 {
	position: absolute;
	width: 51;
	height: 88px;
	z-index: 5;
	left: -90px;
	top: 350px;
	background-color: #00CEFF;
}
#apDiv6 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 6;
	left: -56px;
	top: 350px;
}
#apDiv7 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 7;
	left: -9px;
	top: 350px;
}
#apDiv8 {
	position: absolute;
	width: 17px;
	height: 88px;
	z-index: 8;
	left: 39px;
	top: 350px;
}
#apDiv9 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 9;
	left: 65px;
	top: 350px;
}
#apDiv10 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 10;
	left: 112px;
	top: 350px;
}
#apDiv11 {
	position: absolute;
	width: 18px;
	height: 87px;
	z-index: 11;
	left: 160px;
	top: 350px;
}
#apDiv12 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 12;
	left: 186px;
	top: 350px;
}
#apDiv12b {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 12;
	left: 233px;
	top: 350px;
}
#apDiv13 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 13;
	left: 281px;
	top: 350px;
	background-color: #99CCCD;
}
#apDiv14 {
	position: absolute;
	width: 18px;
	height: 87px;
	z-index: 14;
	left: 307px;
	top: 350px;
}
#apDiv15 {
	position: absolute;
	width: 25px;
	height: 87px;
	z-index: 15;
	left: 354px;
	top: 350px;
}
#apDiv16 {
	position: absolute;
	width: 25px;
	height: 76px;
	z-index: 16;
	left: 401px;
	top: 350px;
	background-color: #99CCCD;
}
#apDiv17 {
	position: absolute;
	width: 37px;
	height: 87px;
	z-index: 17;
	left: 430px;
	top: 350px;
}
#apDiv18 {
	position: absolute;
	width: 341px;
	height: 19px;
	z-index: 18;
	left: 9px;
	top: 350px;
}
#apDiv19 {
	position: absolute;
	width: 25px;
	height: 76px;
	z-index: 19;
	left: 522px;
	top: 350px;
	background-color: #99CCCD;
}
#apDiv19 #form1 table tr .naranja {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #F60;
}
#apDiv20 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 20;
	left: 548px;
	top: 350px;
}
#apDiv21 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 21;
	left: 595px;
	top: 350px;
}
#apDiv22 {
	position: absolute;
	width: 25px;
	height: 76px;
	z-index: 21;
	left: 643px;
	top: 350px;
	background-color: #99CCCD;
}
#apDiv23 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 21;
	left: 669px;
	top: 350px;
}
#apDiv24 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 22;
	left: 717px;
	top: 350px;
}
#apDiv25 {
	position: absolute;
	width: 25px;
	height: 76px;
	z-index: 22;
	left: 765px;
	top: 350px;
	color: #99CCCD;
	background-color: #99CCCD;
}
#apDiv26 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 22;
	left: 792px;
	top: 350px;
}
#apDiv27 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 23;
	left: 840px;
	top: 350px;
}
#apDiv28 {
	position: absolute;
	width: 25px;
	height: 76px;
	z-index: 23;
	left: 889px;
	top: 350px;
	background-color: #99CCCD;
}

#apDiv29 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 24;
	left: 916px;
	top: 350px;
}
#apDiv30 {
	position: absolute;
	width: 45px;
	height: 70px;
	z-index: 25;
	left: 962px;
	top: 350px;
}
#apDiv31 {
	position: absolute;
	width: 34px;
	height: 416px;
	z-index: 26;
	left: 1010px;
	top: 350px;
	background-color: #00CCFF;
}
#apDiv32 {
	position: absolute;
	width: 1066px;
	height: 30px;
	z-index: 27;
	left: -57px;
	top: 425px;
	color: #99CCCD;
	background-color: #99CCCD;
}
#apDiv33 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 28;
	left: -55px;
	top: 460px;
}
#apDiv34 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: -9px;
	top: 460px;
}
#apDiv35 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 39px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv36 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 65px;
	top: 460px;
}
#apDiv37 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 112px;
	top: 460px;
}
#apDiv38 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 160px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv39 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 186px;
	top: 460px;
}
#apDiv40 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 233px;
	top: 460px;
}
#apDiv41 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 281px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv42 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 307px;
	top: 460px;
}
#apDiv43 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 354px;
	top: 460px;
}
#apDiv44 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 402px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv45 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 428px;
	top: 460px;
}
#apDiv46 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 474px;
	top: 460px;
}
#apDiv47 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 522px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv48 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 548px;
	top: 460px;
}
#apDiv49 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 594px;
	top: 460px;
}
#apDiv50 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 642px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv51 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 668px;
	top: 460px;
}
#apDiv52 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 717px;
	top: 460px;
}
#apDiv53 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 765px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv54 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 792px;
	top: 460px;
}
#apDiv55 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 840px;
	top: 460px;
}
#apDiv56 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 889px;
	top: 460px;
	background-color: #99CCCD;
}
#apDiv57 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 916px;
	top: 460px;
}
#apDiv58 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 962px;
	top: 460px;
}
#apDiv59 {
	position: absolute;
	width: 1066px;
	height: 30px;
	z-index: 27;
	left: -55px;
	top: 570px;
	color: #99CCCD;
	background-color: #99CCCD;
}
#apDiv60 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 28;
	left: -55px;
	top: 605px;
}
#apDiv61 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: -9px;
	top: 605px;
}
#apDiv62 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 39px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv63 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 65px;
	top: 605px;
}
#apDiv64 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 112px;
	top: 605px;
}
#apDiv65 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 160px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv66 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 186px;
	top: 605px;
}
#apDiv67 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 233px;
	top: 605px;
}
#apDiv68 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 281px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv69 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 307px;
	top: 605px;
}
#apDiv70 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 354px;
	top: 605px;
}
#apDiv71 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 402px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv72 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 428px;
	top: 605px;
}
#apDiv73 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 474px;
	top: 605px;
}
#apDiv74 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 522px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv75 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 548px;
	top: 605px;
}
#apDiv76 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 594px;
	top: 605px;
}
#apDiv77 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 642px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv78 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 668px;
	top: 605px;
}
#apDiv79 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 717px;
	top: 605px;
}
#apDiv80 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 765px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv81 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 792px;
	top: 605px;
}
#apDiv82 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 840px;
	top: 605px;
}
#apDiv83 {
	position: absolute;
	width: 25px;
	height: 113px;
	z-index: 29;
	left: 889px;
	top: 605px;
	background-color: #99CCCD;
}
#apDiv84 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 916px;
	top: 605px;
}
#apDiv85 {
	position: absolute;
	width: 47px;
	height: 113px;
	z-index: 29;
	left: 962px;
	top: 605px;
}
#apDiv86 {
	position: absolute;
	width: 1066px;
	height: 50px;
	z-index: 30;
	left: -57px;
	top: 715px;
	background-color: #00CCFF;
}
#apDiv87 {
	position: absolute;
	width: 849px;
	height: 440px;
	z-index: 1;
	left: -251px;
	top: 321px;
}
#apDiv88 {
	position: absolute;
	width: 879px;
	height: 115px;
	z-index: 31;
	left: 28px;
	top: 1121px;
}
#apDiv88 {
	position: absolute;
	width: 1133px;
	height: 100px;
	z-index: 28;
	left: 27px;
	top: 1117px;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}