
#fondofb {
	height: 700px;
	width: 800px;
}
#todo {
	width: 100%;
}
#grupo {
	position: relative;
	height: 700px;
	width: 800px;
	margin: auto;
}
#cabeza {
	position: absolute;
	height: 50px;
	width: 800px;
	left: 0px;
	top: 0px;
	background-image: url(../img/cabezaInscrip.jpg);
}
#contene01 {
	position: absolute;
	height: 70px;
	width: 800px;
	left: 0px;
	top: 50px;
}
#paso01 {
	position: absolute;
	height: 70px;
	width: 650px;
	left: 0px;
	background-image: url(../img/paso01.jpg);
}
#paso02 {
	position: absolute;
	height: 70px;
	width: 75px;
	left: 650px;
	background-image: url(../img/paso02A.jpg);
}
#paso03 {
	position: absolute;
	height: 70px;
	width: 75px;
	left: 725px;
	background-image: url(../img/paso03A.jpg);
}
#contene02 {
	position: absolute;
	height: 70px;
	width: 800px;
	top: 120px;
	background-image: url(../img/bisbis.gif);
}
#contene03 {
	position: absolute;
	height: 426px;
	width: 685px;
	top: 191px;
	left: 0px;
	background-image: url(../img/MapaGaleana.jpg);
}
#contene03bis {
	position: absolute;
	height: 428px;
	width: 114px;
	top: 191px;
	left: 687px;
	background-color: #0C0;
}
#arriba {
	position: absolute;
	height: 53px;
	width: 113px;
	background-image: url(../img/arribabots.jpg);
}
#bot01 {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZA01.jpg);
	top: 53px;
}
#bot01:hover { 
	background-image: url(../img/BotZA02.jpg);
}
#bot01b {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZA01.jpg);
	top: 53px;
}
#bot02 {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZB01.jpg);
	top: 133px;
}
#bot02:hover { 
	background-image: url(../img/BotZB02.jpg);
}
#bot02b {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZB01.jpg);
	top: 133px;
}
#bot03 {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZC01.jpg);
	top: 213px;
}
#bot03:hover { 
	background-image: url(../img/BotZC02.jpg);
}
#bot03b {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZC01.jpg);
	top: 213px;
}
#bot04 {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZD01.jpg);
	top: 293px;
}
#bot04:hover { 
	background-image: url(../img/BotZD02.jpg);
}
#bot04b {
	position: absolute;
	height: 80px;
	width: 113px;
	background-image: url(../img/BotZD01.jpg);
	top: 293px;
}
#abajo {
	position: absolute;
	height: 53px;
	width: 113px;
	background-image: url(../img/abajobots.jpg);
	top: 373px;
}
#contene04 {
	position: absolute;
	height: 50px;
	width: 800px;
	top: 620px;
	visibility: visible;
}
#salir {
	position: absolute;
	height: 49px;
	width: 247px;
	top: 1px;
	left: 300px;
	background-image: url(../img/salir01.jpg);
}
#salir:hover { 
	background-image: url(../img/salir02.jpg);
}
#contene05 {
	position: absolute;
	height: 50px;
	width: 800px;
	top: 680px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #390;
}