#apDivGE5 {
	position: absolute;
	width: 51;
	height: 88px;
	z-index: 5;
	left: 75px;
	top: 395px;
	background-color: #FF6500;
}
#apDivGE6 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 6;
	left: 222px;
	top: 399px;
}
#apDivGE7 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 7;
	left: 272px;
	top: 399px;
}
#apDivGE8 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 8;
	left: 322px;
	top: 399px;
}
#apDivGE9 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 9;
	left: 372px;
	top: 399px;
}
#apDivGE10 {
	position: absolute;
	width: 20px;
	height: 87px;
	z-index: 10;
	left: 422px;
	top: 399px;
	background-color: #CD9933;
}
#apDivGE11 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 11;
	left: 442px;
	top: 399px;
}
#apDivGE12 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 12;
	left: 492px;
	top: 399px;
}
#apDivGE13 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 13;
	left: 542px;
	top: 399px;
}
#apDivGE14 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 14;
	left: 592px;
	top: 399px;
}
#apDivGE15 {
	position: absolute;
	width: 20px;
	height: 87px;
	z-index: 15;
	left: 643px;
	top: 399px;
	background-color: #CD9933;
}
#apDivGE16 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 16;
	left: 663px;
	top: 399px;
}
#apDivGE17 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 17;
	left: 712px;
	top: 399px;
}
#apDivGE18 {
	position: absolute;
	width: 50px;
	height: 87px;
	z-index: 18;
	left: 762px;
	top: 399px;
}
#apDivGE19 {
	position: absolute;
	width: 62px;
	height: 88px;
	z-index: 19;
	left: 812px;
	top: 399px;
	background-color: #FE6601;
}

#apDivGE20 {
	position: absolute;
	width: 804px;
	height: 20px;
	z-index: 20;
	left: 75px;
	top: 480px;
}
