
#apDiv1 {
	position: absolute;
	width: 800px;
	height: 50px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	width: 801px;
	height: 71px;
	z-index: 2;
	top: 59px;
}
#apDiv3 {
	position: absolute;
	width: 800px;
	height: 76px;
	z-index: 3;
	top: 131px;
}
#apDiv4 {
	position: absolute;
	width: 550px;
	height: 54px;
	z-index: 4;
	top: 208px;
	background-color: #6600CD;
}
#apDiv5 {
	position: absolute;
	width: 98px;
	height: 113px;
	z-index: 5;
	left: 8px;
	top: 261px;
}
#apDiv6 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 6;
	left: 107px;
	top: 263px;
}
#apDiv7 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 7;
	left: 154px;
	top: 263px;
}
#apDiv8 {
	position: absolute;
	width: 32px;
	height: 111px;
	z-index: 8;
	left: 201px;
	top: 263px;
}
#apDiv9 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 9;
	left: 234px;
	top: 263px;
}
#apDiv10 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 10;
	left: 282px;
	top: 263px;
}
#apDiv11 {
	position: absolute;
	width: 32px;
	height: 111px;
	z-index: 11;
	left: 330px;
	top: 263px;
}
#apDiv12 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 12;
	left: 362px;
	top: 264px;
}
#apDiv13 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 13;
	left: 410px;
	top: 264px;
}
#apDiv14 {
	position: absolute;
	width: 101px;
	height: 113px;
	z-index: 14;
	left: 457px;
	top: 262px;
	background-color: #6600CD;
}
#apDiv15 {
	position: absolute;
	width: 550px;
	height: 81px;
	z-index: 15;
	left: 8px;
	top: 373px;
	background-color: #6600CD;
}
#apDiv16 {
	position: absolute;
	width: 550px;
	height: 185px;
	z-index: 16;
	left: 8px;
	top: 453px;
	background-color: #990100;
}
#apDiv17 {
	position: absolute;
	width: 248px;
	height: 573px;
	z-index: 17;
	left: 563px;
	top: 207px;
}
#apDiv17 #form1 table {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#apDiv18 {
	position: absolute;
	width: 550px;
	height: 73px;
	z-index: 18;
	left: 9px;
	top: 702px;
}
#apDiv18 {
	font-family: Verdana, Geneva, sans-serif;
}
#apDiv18 {
	font-size: 10px;
}
#apDiv18 {
	font-size: 12px;
}
#apDiv18 {
	text-align: center;
}
#apDiv19 {
	position: absolute;
	width: 815px;
	height: 50px;
	z-index: 19;
	left: 9px;
	top: 804px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-size: 14px;
}