#apDiv4B1 {
	position: absolute;
	width: 802px;
	height: 54px;
	z-index: 4;
	top: 208px;
	background-color: #990100;
}
#apDiv5B1 {
	position: absolute;
	width: 103px;
	height: 111px;
	z-index: 5;
	left: 0px;
	top: 263px;
}
#apDiv6B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 6;
	left: 112px;
	top: 263px;
}
#apDiv7B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 7;
	left: 159px;
	top: 263px;
}
#apDiv8B1 {
	position: absolute;
	width: 32px;
	height: 111px;
	z-index: 8;
	left: 206px;
	top: 263px;
}
#apDiv9B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 9;
	left: 239px;
	top: 263px;
}
#apDiv10B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 10;
	left: 287px;
	top: 263px;
}
#apDiv11B1 {
	position: absolute;
	width: 32px;
	height: 111px;
	z-index: 11;
	left: 335px;
	top: 263px;
}
#apDiv12B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 12;
	left: 367px;
	top: 264px;
}
#apDiv13B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 13;
	left: 415px;
	top: 264px;
}
#apDiv18B1 {
	position: absolute;
	width: 32px;
	height: 111px;
	z-index: 14;
	left: 464px;
	top: 263px;
}
#apDiv19B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 15;
	left: 497px;
	top: 263px;
}
#apDiv20B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 16;
	left: 544px;
	top: 263px;
}
#apDiv21B1 {
	position: absolute;
	width: 32px;
	height: 111px;
	z-index: 17;
	left: 591px;
	top: 263px;
}
#apDiv22B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 18;
	left: 624px;
	top: 264px;
}
#apDiv23B1 {
	position: absolute;
	width: 47px;
	height: 105px;
	z-index: 19;
	left: 672px;
	top: 264px;
}
#apDiv24B1 {
	position: absolute;
	width: 91px;
	height: 111px;
	z-index: 20;
	left: 711px;
	top: 263px;
}
#apDiv25B1 {
	position: absolute;
	width: 800px;
	height: 81px;
	z-index: 21;
	left: 0px;
	top: 374px;
}
#apDiv26B1 {
	position: absolute;
	width: 802px;
	height: 184px;
	z-index: 22;
	left: 0px;
	top: 454px;
}
#apDiv27B1 {
	position: absolute;
	width: 800px;
	height: 433px;
	z-index: 23;
	left: 8px;
	top: 642px;
}
#apDiv28B1 {
  position: absolute;
  width: 800px;
  height: 433px;
  z-index: 23;
  left: 8px;
  top: 950px;
}