

  <div id="cabeza">
  	<img src="./img/cabezaInscrip.jpg" class="img-responsive center-block" alt="Responsive image">
  </div>
  <div  id="contene01">
    	
    <img src="./img/cabeza2.jpg" class="img-responsive center-block" alt="Responsive image">
  </div>

    <div id="contene02">
    	<img src="./img/bisbis.gif" class="img-responsive center-block" alt="Responsive image">
    </div>

    <div id="contene02bis">
    	<img src="./img/izta02.jpg" class="img-responsive center-block" alt="Responsive image">
    </div>

	<div id="contene03">
    	<div id="mapa01">
    		<img src="./img/mapaIzta.jpg" class="img-responsive center-block" alt="Responsive image">
    	</div>

        
	</div>
    <div id="contene04">
    <a href="../index.html"><div id="salir"></div></a>
    </div>
    
    
 


