

  <div id="cabeza">
  	<img src="./img/cabezaInscrip.jpg" class="img-responsive center-block" alt="Responsive image">
  </div>
  <div  id="contene01">
    	
    <img src="./img/cabeza2.jpg" class="img-responsive center-block" alt="Responsive image">
  </div>

    <div id="contene02">
    	<img src="./img/bisbis.gif" class="img-responsive center-block" alt="Responsive image">
    </div>

    <div id="contene02bis">
    	<img src="./img/izta02.jpg" class="img-responsive center-block" alt="Responsive image">
    </div>

	<div id="contene03">
    	<div id="mapa01">
    		<img src="./img/mapaIzta.jpg" class="img-responsive center-block" alt="Responsive image">

    		<a href="#/Artesano">
    			<img style="position: relative; top: -371px; left: 315px; height: auto;" src="./img/botseccAarte01.jpg" onmouseout="this.src='./img/botseccAarte01.jpg';" onmouseover="this.src='./img/botseccAarte02.jpg';" alt="Responsive image">
    		</a>
    		<a href="">
    			<img style="position: relative; top: -326px; left: -45px; height: auto;" src="./img/botseccAgast01.jpg" onmouseout="this.src='./img/botseccAgast01.jpg';" onmouseover="this.src='./img/botseccAgast02.jpg';"  alt="Responsive image">
    		</a>
    		<a href="">
    			<img style="position: relative; top: -177px; left: -38px; height: auto;" src="./img/botseccBgast01.jpg" onmouseout="this.src='./img/botseccBgast01.jpg';" onmouseover="this.src='./img/botseccBgast02.jpg';"  alt="Responsive image">
    		</a>
    		<a href="">
    			<img style="position: relative; top: -256px; left: -7px; height: auto;" src="./img/botseccCgast01.jpg" onmouseout="this.src='./img/botseccCgast01.jpg';" onmouseover="this.src='./img/botseccCgast02.jpg';"  alt="Responsive image">
    		</a>
    		<a href="">
    			<img style="position: relative; top: -335px; left: -20px; height: auto;" src="./img/botseccDgast01.jpg" onmouseout="this.src='./img/botseccDgast01.jpg';" onmouseover="this.src='./img/botseccDgast02.jpg';"  alt="Responsive image">
    		</a>
    		<a href="">
    			<img style="position: relative; top: -226px; left: -129px; height: auto;" src="./img/botseccEgast01.jpg" onmouseout="this.src='./img/botseccEgast01.jpg';" onmouseover="this.src='./img/botseccEgast02.jpg';"  alt="Responsive image">
    		</a>
    	</div>

        
	</div>
    <div id="contene04">
    <a href="../index.html"><img class="img-responsive center-block" alt="Responsive image" src="./img/salir01.jpg" onmouseout="this.src='./img/salir01.jpg';" onmouseover="this.src='./img/salir02.jpg';"></a>
    </div>
    
    
 


