
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>

<div class="row" ng-show="1">
  <div onload="MM_preloadImages('./img/paso01B.jpg','./img/bot01B.jpg','./img/bot29B.jpg','./img/bot02B.jpg','./img/bot30B.jpg','./img/bot04B.jpg','./img/bot18B.jpg','./img/bot32B.jpg','./img/bot05B.jpg','./img/bot19B.jpg','./img/bot33B.jpg','./img/bot47B.jpg','./img/bot06B.jpg','./img/bot20B.jpg','./img/bot34B.jpg','./img/bot21B.jpg','./img/bot35B.jpg','./img/bot09B.jpg','./img/bot37B.jpg','./img/bot10B.jpg','./img/bot38B.jpg')">

<div id="apDivGA1" style="position: absolute; left: 75px; top: 120px; width: 800px; height: 51px; z-index: 1"><img src="./img/CabezaG.jpg" width="800" height="51" /></div>

<div id="apDivGA2" style="position: absolute; left: 75px; top: 173px; width: 800px; height: 70px; z-index: 2">
	<a href="./" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image100','','./img/paso01B.jpg',1)"><img src="./img/paso01A.jpg" width="75" height="70" id="Image100" /></a><img src="./img/paso02.jpg" width="650" height="71" /><img src="./img/paso03A.jpg" width="75" height="70" />
</div>

<div id="apDivGA3" style="position: absolute; left: 75px; top: 243px; width: 800px; height: 51px; z-index: 3"><img src="./img/status.jpg" width="800" height="51" /></div>
<div id="apDivGA4" style="position: absolute; left: 75px; top: 295px; width: 800px; height: 100px; z-index: 5"><img src="./img/cabezlugaresG.jpg" width="800" height="100" /></div>

<div id="apDivGB5" style="position: absolute; left: 75px; top: 395px; width: 83px; height: 95px; z-index: 6">
  <img src="./img/azulderchG.jpg" width="83" height="95" />
</div>
<div id="apDivGB6">
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image8','','./img/bot01B.jpg',1)"><img src="./img/bot01AGA.jpg" width="27" height="23" id="Image8" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image10','','./img/bot07B.jpg',1)"><img src="./img/bot07AGA.jpg" width="27" height="23" id="Image10" />
  </button>
<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','./img/bot13B.jpg',1)"><img src="./img/bot13AGA.jpg" width="27" height="23" id="Image11" />
  </button></div>
<div id="apDivGB7">
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','./img/bot02B.jpg',1)"><img src="./img/bot02AGA.jpg" width="27" height="23" id="Image14" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','./img/bot08B.jpg',1)"><img src="./img/bot08AGA.jpg" width="27" height="23" id="Image15" />
  </button>
<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image16','','./img/bot14B.jpg',1)"><img src="./img/bot14AGA.jpg" width="27" height="23" id="Image16" />
  </button></div>
<div id="apDivGB8"><img src="./img/barra02G.jpg" width="25" height="92" /></div>
<div id="apDivGB9">
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image25','','./img/bot03B.jpg',1)"><img src="./img/bot03AGA.jpg" width="27" height="23" id="Image25" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','./img/bot09B.jpg',1)"><img src="./img/bot09AGA.jpg" width="27" height="23" id="Image27" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image28','','./img/bot15B.jpg',1)"><img src="./img/bot15AGA.jpg" width="27" height="23" id="Image28" />
  </button></div>
<div id="apDivGB10">
<button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image33','','./img/bot04B.jpg',1)"><img src="./img/bot04AGA.jpg" width="27" height="23" id="Image33" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image35','','./img/bot10B.jpg',1)"><img src="./img/bot10AGA.jpg" width="27" height="23" id="Image35" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image36','','./img/bot16B.jpg',1)"><img src="./img/bot16AGA.jpg" width="27" height="23" id="Image36" />
  </button>
</div>
<div id="apDivGB11"><img src="./img/barra02G.jpg" width="25" height="92" /></div>
<div id="apDivGB12">
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','./img/bot05B.jpg',1)"><img src="./img/bot05AGA.jpg" width="27" height="23" id="Image39" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image41','','./img/bot11B.jpg',1)"><img src="./img/bot11AGA.jpg" width="27" height="23" id="Image41" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image42','','./img/bot17B.jpg',1)"><img src="./img/bot17AGA.jpg" width="27" height="23" id="Image42" />
  </button></div>
<div id="apDivGB13">
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image45','','./img/bot06B.jpg',1)"><img src="./img/bot06AGA.jpg" width="27" height="23" id="Image45" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image47','','./img/bot12B.jpg',1)"><img src="./img/bot12AGA.jpg" width="27" height="23" id="Image47" />
  </button>
  <button href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image48','','./img/bot18B.jpg',1)"><img src="./img/bot18AGA.jpg" width="27" height="23" id="Image48" />
  </button></div>
<div id="apDivGB22"><img src="./img/azulizqGB.jpg" width="244" height="95" /></div>
<div id="apDivGB23"><img src="./img/cabezlugaresabajoG.jpg" width="800" height="31" /></div>

  </div>
</div>

<div class="row">
  
  
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br>
  <form id="userForm" name="userForm" >
      <div id="form1" class="col-md-6">
        
        <h3 >Favor de llenar el formulario</h3>
        <br>
        <label for="name">
            <div align="right"><strong>Nombre</strong></div>
            </label>
            <br>
            <input class="formu" name="name" type="text" id="name" ng-model="user.name"  required />
              <span class="messages" ng-show="userForm.$submitted || userForm.name.$touched">
            <span class="text-danger" ng-show="userForm.name.$error.required">El campo es obligatorio.</span>
        </span>
          <br>
        
        
          <label for="appaterno">
            <div align="right"><strong>Apellido Paterno</strong></div>
          </label>
          <br>
          <input class="formu" name="appaterno" type="text" ng-model="user.appaterno"  required />
          <span class="messages" ng-show="userForm.$submitted || userForm.appaterno.$touched">
          <span class="text-danger" ng-show="userForm.appaterno.$error.required">El campo es obligatorio.</span>
          </span>
        <br>
        
          <label>
            <div align="right"><strong>Apellido Materno</strong></div>
          </label>
          <br>
          <input class="formu" name="apmaterno" type="text" ng-model="user.apmaterno"  required />
          <span class="messages" ng-show="userForm.$submitted || userForm.apmaterno.$touched">
            <span class="text-danger" ng-show="userForm.apmaterno.$error.required">El campo es obligatorio.</span>
          </span>
        <br>
        
          <label>
            <div align="right"><strong>Estado</strong></div>
          </label>
          <br>
          
          <select class="formu" ng-model="user.estado" id="estados" name="estados">

          <option value="">Todo México</option>

          <option value="Aguascalientes">Aguascalientes</option>

          <option value="Baja California">Baja California</option>

          <option value="Baja California Sur">Baja California Sur</option>

          <option value="Campeche">Campeche</option>

          <option value="Ciudad de México">Ciudad de México</option>

          <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>

          <option value="Colima">Colima</option>

          <option value="Chiapas">Chiapas</option>

          <option value="Chihuahua">Chihuahua</option>

          <option value="Durango">Durango</option>

          <option value="Estado de México">Estado de México</option>

          <option value="Guanajuato">Guanajuato</option>

          <option value="Guerrero">Guerrero</option>

          <option value="Hidalgo">Hidalgo</option>

          <option value="Jalisco">Jalisco</option>

          <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>

          <option value="Morelos">Morelos</option>

          <option value="Nayarit">Nayarit</option>

          <option value="Nuevo León">Nuevo León</option>

          <option value="Oaxaca">Oaxaca</option>

          <option value="Puebla">Puebla</option>

          <option value="Querétaro">Querétaro</option>

          <option value="Quintana Roo">Quintana Roo</option>

          <option value="San Luis Potosí">San Luis Potosí</option>

          <option value="Sinaloa">Sinaloa</option>

          <option value="Sonora">Sonora</option>

          <option value="Tabasco">Tabasco</option>

          <option value="Tamaulipas">Tamaulipas</option>

          <option value="Tlaxcala">Tlaxcala</option>

          <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>

          <option value="Yucatán">Yucatán</option>

          <option value="Zacatecas">Zacatecas</option>

      </select>
        
        <br>
          <label>
            <div align="right"><strong>Número de celular a 10 digitos</strong></div>
          </label>
          <br>
          <input class="formu" name="telefonoCel" type="number" ng-model="cel"  required min="1111111111" max="99999999999999" />

          <is-number my-ng-model="number.three" enable-negative="true"></is-number>
          <span class="messages" ng-show="userForm.$submitted || userForm.telefonoCel.$touched">
            <span class="text-danger" ng-show="tc">El numero telefonico debe tener al menos 10 digito y como maximo 14</span>
            <span class="text-danger" ng-show="userForm.telefonoCel.$error.required">El campo es obligatorio.</span>
          </span>
        
        <br>
          <label>
            <div align="right"><strong>Telefono local (incluyendo clave LADA)</strong></div>
          </label>
          <br>
          <input class="formu" name="telefono" type="number" ng-model="cel"  required min="1111111111" max="99999999999999"  />
          <is-numbers my-ng-model="number.two"  enable-negative="true"></is-numbers>
          <span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
            <span class="text-danger" ng-show="tt">El numero telefonico debe tener al menos 10 digito y como maximo 14</span>
            <span class="text-danger" ng-show="userForm.telefono.$error.required">El campo es obligatorio.</span>
          </span>
        
        <br>
          <label>
            <div align="right"><strong>Correo electrónico</strong></div>
          </label>
          <br>
          <input class="formu" name="email" type="email" ng-model="user.email"  required />
          <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
            <span class="text-danger" ng-show="userForm.email.$error.required">El campo es obligatorio.</span>
            <span class="text-danger" ng-show="userForm.email.$error.email">Formato de email incorrecto.</span>
          </span>
        
        <br>
     </div>
     <div id="form2" class="col-md-6">
          
        <br>
          <label>
            <div align="left"><strong>Producto</strong></div>
          </label>
          <br>
          <tags-input name="tag" id="tag" class="formu" ng-model="user.tags" max-tags="3" enforce-max-tags required>
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
          <span class="messages" ng-show="userForm.$submitted || userForm.tag.$touched">
            <span class="text-danger" ng-show="userForm.tag.$error.required">El campo es obligatorio.</span>
            
          </span>

        
        <br>
          <label>
            <div align="right">
              <p><strong>Descripcion del producto</strong></p>
            </div>
          </label>
          <br>
          <textarea class="formu" ng-model="user.productoDescip" name="producto" cols="40" rows="4" id="producto" required></textarea>

            <span class="messages" ng-show="userForm.$submitted || userForm.producto.$touched">
            <span class="text-danger" ng-show="userForm.producto.$error.required">El campo es obligatorio.</span>
            
          </span>
        
        <br>
          <label>
            <div align="right">
              <p><strong>Requerimientos</strong></p>
            </div>
          </label>
          <br>
          <textarea class="formu" ng-model="user.comentario" name="comentario" cols="40" rows="4" id="comentario" required=""></textarea>
          <span class="messages" ng-show="userForm.$submitted || userForm.comentario.$touched">
            <span class="text-danger" ng-show="userForm.comentario.$error.required">El campo es obligatorio.</span>
        <br>
        <br>
         
          
        
      </div>
    </form>
</div>