#apDivGB5 {
	position: absolute;
	width: 51;
	height: 88px;
	z-index: 5;
	left: 75px;
	top: 395px;
	background-color: #FF6500;
}
#apDivGB6 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 6;
	left: 157px;
	top: 397px;
}
#apDivGB7 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 7;
	left: 207px;
	top: 397px;
}
#apDivGB8 {
	position: absolute;
	width: 25px;
	height: 92px;
	z-index: 8;
	left: 257px;
	top: 397px;
	background-color: #CD9933;
}
#apDivGB9 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 9;
	left: 282px;
	top: 397px;
}
#apDivGB10 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 10;
	left: 332px;
	top: 397px;
}
#apDivGB11 {
	position: absolute;
	width: 25px;
	height: 92px;
	z-index: 11;
	left: 382px;
	top: 397px;
}
#apDivGB12 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 12;
	left: 407px;
	top: 397px;
}
#apDivGB13 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 13;
	left: 457px;
	top: 397px;
}
#apDivGB14 {
	position: absolute;
	width: 25px;
	height: 92px;
	z-index: 14;
	left: 457px;
	top: 397px;
}
#apDivGB15 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 15;
	left: 483px;
	top: 397px;
}
#apDivGB16 {
	position: absolute;
	width: 50px;
	height: 90px;
	z-index: 16;
	left: 533px;
	top: 397px;
}
#apDivGB17 {
	position: absolute;
	width: 50px;
	height: 173px;
	z-index: 17;
	left: 534px;
	top: 281px;
}
#apDivGB18 {
	position: absolute;
	width: 50px;
	height: 173px;
	z-index: 18;
	left: 584px;
	top: 281px;
}
#apDivGB19 {
	position: absolute;
	width: 50px;
	height: 173px;
	z-index: 19;
	left: 634px;
	top: 281px;
}
#apDivGB19 #form1 table tr .naranja {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #F60;
}
#apDivGB20 {
	position: absolute;
	width: 50px;
	height: 173px;
	z-index: 20;
	left: 684px;
	top: 281px;
}
#apDivGB21 {
	position: absolute;
	width: 50px;
	height: 173px;
	z-index: 21;
	left: 734px;
	top: 281px;
}
#apDivGB22 {
	position: absolute;
	width: 244px;
	height: 95px;
	z-index: 21;
	left: 507px;
	top: 395px;
}
#apDivGB23 {
	position: absolute;
	width: 800px;
	height: 30px;
	z-index: 21;
	left: 75px;
	top: 490px;
}
