<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="Milo" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Expositores 2017 / Zona Gastrónomos B</title>
<link rel="stylesheet" type="text/css" href="../css/GastronomoB.css">
<link rel="stylesheet" type="text/css" href="../script/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../script/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../script/ng-tags-input/ng-tags-input.css">
<link rel="stylesheet" type="text/css" href="../script/ng-tags-input/ng-tags-input.bootstrap.css">


</head>

<body ng-controller="formulario">
<div ng-mousemove = "user.seccion='GB'" id="todo" class="container">
<div id="grupo">
  <div id="fondofb">
  <div id="cabeza"></div>
  	<div id="contene01">
    	<a href="../expo2017.html"><div id="paso01"></div></a>
      	<div id="paso02"></div>
      	<div id="paso03"></div>
    </div>
    <div id="contene02"></div>
    
    <div id="contene03" onload="MM_preloadImages('../imagenes/paso01B.jpg','../imagenes/bot01B.jpg','../imagenes/bot15B.jpg','../imagenes/bot29B.jpg','../imagenes/bot02B.jpg','../imagenes/bot16B.jpg','../imagenes/bot30B.jpg','../imagenes/bot04B.jpg','../imagenes/bot18B.jpg','../imagenes/bot32B.jpg','../imagenes/bot05B.jpg','../imagenes/bot19B.jpg','../imagenes/bot33B.jpg','../imagenes/bot47B.jpg','../imagenes/bot06B.jpg','../imagenes/bot20B.jpg','../imagenes/bot34B.jpg','../imagenes/bot07B.jpg','../imagenes/bot21B.jpg','../imagenes/bot35B.jpg','../imagenes/bot09B.jpg','../imagenes/bot23B.jpg','../imagenes/bot37B.jpg','../imagenes/bot10B.jpg','../imagenes/bot24B.jpg','../imagenes/bot38B.jpg')">

<div id="apDiv3" style="position: absolute; left: 26px; top: 131px; width: 800px; height: 51px; z-index: 3"><img src="../imagenes/status.jpg" width="800" height="51" /></div>
<div id="apDiv4" style="position: absolute; left: 26px; top: 183px; width: 800px; height: 52px; z-index: 5"><img src="../imagenes/cabezlugaresGB.jpg" width="800" height="52" /></div>
<div id="apDiv5" style="position: absolute; left: 26px; top: 234px; width: 83px; height: 95px; z-index: 6"><img src="../imagenes/azulderchGB.jpg" width="83" height="95" /></div>

<div id="apDiv6">
  <1>
  <9>
  <17>
</div>

<div id="apDiv7">
  <2>
  <10>
  <18>
</div>

<div id="apDiv8"><img src="../imagenes/barra02GB.jpg" width="25" height="92" /></div>

<div id="apDiv9">
  <3>
  <11>
  <19>
</div>

<div id="apDiv10">
  <4>
  <12>
  <20>
</div>

<div id="apDiv11"><img src="../imagenes/barra02GB.jpg" width="25" height="92" /></div>

<div id="apDiv12">
  <5>
  <13>
  <21>
</div>

<div id="apDiv13">
  <6>
  <14>
  <22>
</div>

<div id="apDiv14"><img src="../imagenes/barra02GB.jpg" width="25" height="92" /></div>

<div id="apDiv15">
  <7>
  <155915B15AGB59>
  <236023B23AGB60>
</div>

<div id="apDiv16">
  <8>
  <166516B16AGB65>
  <246624B24AGB66>
</div>

<div id="apDiv22"><img src="../imagenes/azulizqGB.jpg" width="244" height="95" /></div>
<div id="apDiv23"><img src="../imagenes/cabezlugaresabajoGB.jpg" width="800" height="31" /></div>
</div>
    <div id="formulario" class="container">
    <form id="userForm" name="userForm" novalidate method="post" action="">
      <div id="form1" class="col-md-6">
        
          <h3 colspan="2" class="naranja">Favor de llenar el formulario</h3>
          <br>
        <label for="name">
            <div align="right"><strong>Nombre</strong></div>
            </label>
            <br>
            <input class="formu" name="name" type="text" id="name" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" required />
              <span class="messages" ng-show="userForm.$submitted || userForm.name.$touched">
            <span ng-show="userForm.name.$error.required">El campo es obligatorio.</span>
        </span>
          <br>
        
        
          <label for="appaterno">
            <div align="right"><strong>Apellido Paterno</strong></div>
          </label>
          <br>
          <input class="formu" name="appaterno" type="text" ng-model="user.appaterno" ng-model-options="{ updateOn: 'blur' }" required />
          <span class="messages" ng-show="userForm.$submitted || userForm.appaterno.$touched">
          <span ng-show="userForm.appaterno.$error.required">El campo es obligatorio.</span>
          </span>
        <br>
        
          <label>
            <div align="right"><strong>Apellido Materno</strong></div>
          </label>
          <br>
          <input class="formu" name="apmaterno" type="text" ng-model="user.apmaterno" ng-model-options="{ updateOn: 'blur' }" required />
          <span class="messages" ng-show="userForm.$submitted || userForm.apmaterno.$touched">
            <span ng-show="userForm.apmaterno.$error.required">El campo es obligatorio.</span>
          </span>
        <br>
        
          <label>
            <div align="right"><strong>Estado</strong></div>
          </label>
          <br>
          
          <select class="formu" ng-model="user.estado" id="estados" name="estados">

        <option value="">Todo México</option>

        <option value="Aguascalientes">Aguascalientes</option>

        <option value="Baja California">Baja California</option>

        <option value="Baja California Sur">Baja California Sur</option>

        <option value="Campeche">Campeche</option>

        <option value="Ciudad de México">Ciudad de México</option>

        <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>

        <option value="Colima">Colima</option>

        <option value="Chiapas">Chiapas</option>

        <option value="Chihuahua">Chihuahua</option>

        <option value="Durango">Durango</option>

        <option value="Estado de México">Estado de México</option>

        <option value="Guanajuato">Guanajuato</option>

        <option value="Guerrero">Guerrero</option>

        <option value="Hidalgo">Hidalgo</option>

        <option value="Jalisco">Jalisco</option>

        <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>

        <option value="Morelos">Morelos</option>

        <option value="Nayarit">Nayarit</option>

        <option value="Nuevo León">Nuevo León</option>

        <option value="Oaxaca">Oaxaca</option>

        <option value="Puebla">Puebla</option>

        <option value="Querétaro">Querétaro</option>

        <option value="Quintana Roo">Quintana Roo</option>

        <option value="San Luis Potosí">San Luis Potosí</option>

        <option value="Sinaloa">Sinaloa</option>

        <option value="Sonora">Sonora</option>

        <option value="Tabasco">Tabasco</option>

        <option value="Tamaulipas">Tamaulipas</option>

        <option value="Tlaxcala">Tlaxcala</option>

        <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>

        <option value="Yucatán">Yucatán</option>

        <option value="Zacatecas">Zacatecas</option>

      </select>
        
        <br>
          <label>
            <div align="right"><strong>Telefono celular</strong></div>
          </label>
          <br>
          <input class="formu" name="telefonoCel" type="number" ng-model="cel" ng-model-options="{ updateOn: 'blur' }" required min="1111111111" max="99999999999999" />
          <span class="messages" ng-show="userForm.$submitted || userForm.telefonoCel.$touched">
            <span ng-show="userForm.telefonoCel.$error.min">El numero telefonico debe tener al menos 10 digito y como maximo 14</span>
            <span ng-show="userForm.telefonoCel.$error.required">El campo es obligatorio.</span>
          </span>
        
        <br>
          <label>
            <div align="right"><strong>Telefono local</strong></div>
          </label>
          <br>
          <input class="formu" name="telefono" type="number" ng-model="tel" ng-model-options="{ updateOn: 'blur' }" required min="1111111111" max="99999999999999"  />
          <span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
            <span ng-show="userForm.telefono.$error.min">El numero telefonico debe tener al menos 10 digito y como maximo 14</span>
            <span ng-show="userForm.telefono.$error.required">El campo es obligatorio.</span>
          </span>
        
        <br>
          <label>
            <div align="right"><strong>Correo electrónico</strong></div>
          </label>
          <br>
          <input class="formu" name="email" type="email" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" required />
          <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
            <span ng-show="userForm.email.$error.required">El campo es obligatorio.</span>
            <span ng-show="userForm.email.$error.email">Formato de email incorrecto.</span>
          </span>
        
        <br>
     </div>
     <div id="form2" class="col-md-6">
          <h3 colspan="2" class="naranja">Número del lugar que escojiste</h3>
        
        <!--tr>
          <td colspan="2"><label>
            <div align="left"><strong>si esta en tu presupuesto puedes solicitar 2 lugares</strong></div>
          </label>
        </tr-->
        <br>
          <label>
            <div align="left"><strong>Puesto Núm: 1</strong></div>
          </label>
          <br>
          <input ng-disabled="true" class="formu" ng-model="user.lugar[0]" name="textfield2" type="text" id="textfield2" />
        
        <br>
          <label>
            <div align="left"><strong>Puesto Núm: 2</strong></div>
          </label>
          <br>
          <input ng-disabled="true" class="formu" ng-model="user.lugar[1]" name="textfield2" type="text" id="textfield2" />
        





        <br>
          <label>
            <div align="left"><strong>Producto</strong></div>
          </label>
          <br>
          <tags-input class="formu" ng-model="user.tags" max-tags="3" enforce-max-tags>
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
        







        
        <br>
          <label>
            <div align="right">
              <p><strong>Descripcion del producto</strong></p>
            </div>
          </label>
          <br>
          <textarea class="formu" ng-model="user.productoDescip" name="textfield7" cols="40" rows="4" id="textfield7"></textarea>
        
        <br>
          <label>
            <div align="right">
              <p><strong>Comentarios</strong></p>
            </div>
          </label>
          <br>
          <textarea class="formu" ng-model="user.comentario" name="textfield7" cols="40" rows="4" id="textfield7"></textarea>
        
        <br>
        <br>
          &nbsp;
          
        
      </div>
    </form>
    </div>
    <div id="boton">
      <button class="btn btn-primary btn-lg" ng-click="update()"  ng-disabled="userForm.$invalid">Enviar</button>
    </div>
    <div id="contene04">
    <a href="../../index.html"><div id="salir"></div></a>
    </div>
  </div>
</div>
</div>
  
  <script type="text/javascript" src="../script/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../script/angular-1.6.2/angular.min.js"></script>
  <script type="text/javascript" src="../script/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../script/ng-tags-input/ng-tags-input.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/controler/form.js"></script>
  <script type="text/javascript">
      function MM_openBrWindow(theURL,winName,features) { //v2.0
        window.open(theURL,winName,features);
    }
  </script>
  <script type="text/javascript">
    function MM_preloadImages() { //v3.0
      var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }
    function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }
    function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
      for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
      if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
       if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }
  </script>
</body>
</html>
